[2017-02-01 05:23] lelandrichardson opened #1 "Add remote uri source option"

[2017-02-01 05:24] lelandrichardson opened #2 "Expose props for caching behavior"

[2017-02-01 05:24] lelandrichardson opened #3 "Imperative play/pause/reset/done callbacks"

[2017-02-01 10:28] datwheat opened #5 "Installation Guide"
Hey there,

The README is missing a simple installation guide. I'm very interested in using this in the future, but I don't want people to get their hopes up when using something like Exponent thinking that they can use it like any JS library (before they look at the code and see the *.gradle files of course). I'm assuming it's just a simple `npm i -S lottie-react-native && react-native link lotti

[2017-02-01 17:24] jacklam718 opened #7 "How to run the example?"
Not really know how to run the example. If have a more explicit instruction is better 😬

[2017-02-01 19:00] lelandrichardson commented on #5
@datwheat Agreed! I'll get one up ASAP.

[2017-02-01 19:38] browniefed commented on #7
I got them running by
`npm install` in the root of the folder
`pod install` in `examples/ios`

If you don't have cocoapods installed you can do so by using brew `brew install cocoapods`

then start the packager by running `npm run start`

Finally launch one of the versions

[code]

or with android if you have your emulator running (untested)

[code]

[2017-02-01 19:41] #5 closed

[2017-02-01 19:41] #7 closed

[2017-02-01 21:55] lelandrichardson opened #9 "Build Web React API by wrapping bodymovin library"

[2017-02-01 21:56] mohammedzamakhan opened #10 "Can we have lottie integrated with nativescript (lottie-nativescript)"
@NathanWalker

[2017-02-01 21:59] lelandrichardson commented on #10
@mohammedzamakhan I'm not very familiar with exposing native views/libraries to NativeScript, but it sounds very possible. You may want to reach out specifically on the `lottie-ios` and `lottie-android` repos, but I'm happy to help in any way that I can.

[2017-02-02 01:34] mannyhenri commented on #9
@lelandrichardson if you need help or if you have this completed let me know. Very interested in using Lottie in my react projects. Might include it in a course at Linkedin, I have several courses upcoming in production around React and React Native I think this fits perfectly....

[2017-02-02 03:57] hsavit1 commented on #7
@browniefed I have been having a hard time running this as well... I'm greeted with the red screen of death

it says "cannot find entry file example/index.js in any of the roots..."

Any idea what that means?

[2017-02-02 05:02] paulwcy opened #12 "iOS Headers not compatible with RN 0.40+"
Tried installing in my existing (and also new) project and I'm getting
[code]

[2017-02-02 07:21] huchenme commented on #7
thanks, start the packager by running `npm run start` in a separate terminal tab/window works for me, the packager does not start automatically

[2017-02-02 07:25] dmolesworth opened #13 "UNMET PEER DEPENDENCY Error"
When I run
`npm i --save lottie-react-native`
I get an error message saying;

├─┬ lottie-react-native@1.0.0
│ └── UNMET PEER DEPENDENCY react-native@*
├── UNMET PEER DEPENDENCY react@>=15.3.1
└── UNMET PEER DEPENDENCY react-native@>=0.35
npm WARN lottie-react-native@1.0.0 requires a peer of react@>=15.3.1 but none was installed.
npm WARN lottie-react-native@1.0.0 requires a peer of react-native@>=

[2017-02-02 10:37] grifotv opened #16 "Missing script `build:pods`"
Unable to run the script `npm run build:pods` as described here https://github.com/airbnb/lottie-react-native#running-the-example-project

[2017-02-02 10:39] wladyslaws opened #18 "[!] Unable to find a specification for `lottie-ios`"
When I want to run sample project (all steps followed) after running `nom run build:pods` i get following error:

when can cause this and how to fix it?
I also experienced this when integrating lottie to clean react native project (on pod install).

[2017-02-02 10:40] kennydee commented on #18
Same problem here.

I'm using Pod 1.2.0

[2017-02-02 10:46] kennydee commented on #18
Oh, just `pod repo update` :)

[2017-02-02 10:49] grifotv commented on #16
my bad, I was trying to run the examples in the folder `node_modules/lottie-react-native` instead of cloning the repo `git clone https://github.com/airbnb/lottie-react-native.git`

[2017-02-02 10:49] #16 closed

[2017-02-02 11:06] grifotv commented on #18
@kennydee after running `pod repo update` I managed to run `npm run build:pods` successfully - thanks.

However, when running the example `npm run run:ios` although I get a `** BUILD SUCCEEDED **` message the app doesn't actually open.

Has anyone managed to run the iOS examples?

![atmhj2mcx2](https://cloud.githubusercontent.com/assets/435351/22546979/4d0580ec-e937-11e6-92d9-652e7319d629.gif)

[2017-02-02 11:08] kennydee commented on #18
You have to launch the packager :)
`npm run start`

[2017-02-02 11:09] grifotv commented on #18
@kennydee it worked! thanks again

[2017-02-02 11:23] grifotv commented on #12
Getting the same here:

[code]

[2017-02-02 12:44] MyGuySi opened #19 "iOS requires cocoapods because of Lottie dependency. Any other option?"
Hi, I'm just getting a basic example set up but I can't seem to get a visible animation on screen..

[code]

Any ideas? It's more or less a copy & paste from the README

[2017-02-02 13:28] eneskaya opened #21 "Loop animation property"
First of all: 👍 👍 👍

Would be nice to have a convenient way of starting looped animations! So not only calling `play()` but also `loop()`

[2017-02-02 14:23] AlexDM0 commented on #19
I had the same issue. Turns out npm install lottie-react-native does not download the ios/android libs themselves ( I only tested on iOS ). I don't use pods so I just cloned the lottie-ios, dragged the framework into my app and done. I also added the changes of pull req #20 to make sure everything compiled.

Hope that helps!

[2017-02-02 14:37] MyGuySi commented on #19
So you dragged `LottieReactNative.xcodeproj` across to the Libraries directory, and added the Header Search Paths to the Build Settings?

I'm still getting failed builds..

[code]

[2017-02-02 14:38] wladyslaws commented on #18
For me these steps combined also worked, so I vote for closing it or creating a PR for guidelines.

[2017-02-02 14:41] farid-neopixe opened #23 "Couldn't find preset "airbnb" relative to directory"
hello guys ,

firstly i wanna thank you for the amazing library , the problem is when i tried to use it it shows me this error and i can't figure out where the problem is !
![simulator screen shot 2 feb 2017 14 41 19](https://cloud.githubusercontent.com/assets/20015003/22553736/b551f284-e955-11e6-8638-e623bc8ea676.png)

[2017-02-02 14:45] AlexDM0 commented on #19
I did the following:

- drag the LottieReactNative.xcodeproj from node_modules/lottie-react-native/lib/ios into the Libraries folder of my app
- I clicked on it in my Libaries folder and clicked on the target of LottieReactNative, went to the Build Settings and in that header search path I added:
[code]

Then I went to my app target linked Frameworks and Libraries and added libLottieReactNative.a

[2017-02-02 14:51] AlexDM0 commented on #23
Hi, I had this too! Turns out I had to add babel-preset-airbnb to my package.json in the dependencies and rerun npm install.

Cheers

[2017-02-02 14:55] MyGuySi commented on #19
Ok so I got as far as adding libLottieReatNative.a to Linked Frameworks and Libraries but I get..

[code]

and a bunch of

[code]

So is the preferred way to use Cocoapods?

[2017-02-02 14:56] AlexDM0 commented on #19
Maybe try cleaning your project?

[2017-02-02 14:58] MyGuySi commented on #19
Yeah I did clean the project, still get those errors. Is this an issue with RN 0.40?

[2017-02-02 14:59] AlexDM0 commented on #19
I'm using 0.36.1, I see this project is using 0.38.. Could be?

[2017-02-02 15:01] AlexDM0 commented on #19
You made sure to not add these:
$(SRCROOT)/../../../react-native/React
$(SRCROOT)/../../../react-native/ReactCommon
to YOUR build settings but to the LottieReactNative.xcodeproj settings?

[2017-02-02 15:09] MyGuySi commented on #19
Yeah, I think it's because the header paths changed in RN 0.40, I'll try updating them manually and report back

[2017-02-02 15:23] MyGuySi commented on #19
Ok I've updated the header file paths and now I have even more errors. I think I should open a new issue for this though. I think if it weren't for that it should be working now as I no longer get any unresolved path errors, so I'll close this issue.

[2017-02-02 15:26] MyGuySi opened #24 "Update header paths for React Native 0.40"
It would be great it React file headers paths could be updated to work with RN 0.40

I tried to do it myself but just got a bunch more errors so probably worth someone who actually knows what they're doing taking a look:

<img width="344" alt="screen shot 2017-02-02 at 15 25 34" src="https://cloud.githubusercontent.com/assets/12952977/22555542/ead066ec-e95b-11e6-8599-50f1636c815f.png">

[2017-02-02 15:55] nextriot commented on #23
I'm also getting this exact error, tried @AlexDM0 fix, but didn't resolve it for me. Any other suggestions for this one?

[2017-02-02 15:59] hsavit1 commented on #7
@huchenme that worked, thanks!

[2017-02-02 16:01] AlexDM0 commented on #23
So you have babel-presets-airbnb in your node_modules folder? Odd, that should fix it...

[2017-02-02 16:04] nextriot commented on #23
Sadly so, and sadly for me - no go :(
<img width="723" alt="screen shot 2017-02-02 at 2 03 26 pm" src="https://cloud.githubusercontent.com/assets/711457/22557082/79e21062-e950-11e6-98ef-005a9e906a6c.png">

[2017-02-02 16:06] nextriot commented on #23
Perhaps I'm missing a step here, do I need to install the Lottie iOS project separately? All I've followed are the instructions for getting up and running using React Native.

[2017-02-02 16:09] jhen0409 commented on #23
A better way is remove `.babelrc` in [deline](https://github.com/airbnb/deline) (Ignore at publish), it looks unnecessary in a npm package.

[2017-02-02 16:10] AlexDM0 commented on #23
@nextriot Yes, for me it was necessary. Take a look at #19. It seems to have issues with RN 0.40 though (#24).

[2017-02-02 16:18] nextriot commented on #23
Tried removing `.babelrc` also to no resolve. And as far as the link to issue 19, all of those steps are already produced correctly, nothing to change there. I'll report back if there's a fix at any point.

[2017-02-02 16:40] ljharb commented on #23
See https://github.com/airbnb/deline/pull/6#issuecomment-277010054.

.babelrc is both necessary, and in many npm packages. This flaw in the RNP should be worked around with a postinstall script in your app that removes all babelrc files in node_modules, not making PRs to the thousands of packages in the ecosystem that publish a babelrc file.

[2017-02-02 16:54] indivisable opened #25 "Issues with Building"
Tried installing via:

[code]

Fixed the header paths (See: https://github.com/airbnb/lottie-react-native/issues/12) but then got error saying it could not find the lottie headers.

So I tried to install via CocoaPods but got this error:

`pod 'lottie-react-native', :path => '../node_modules/lottie-react-native'`

![image](https://cloud.githubusercontent.com/assets/22860891/22559102/b4f0ec84-e935-

[2017-02-02 17:10] janicduplessis commented on #23
@ljharb I'll bring this up to the RNP team, in the meantime could we either fix deline or remove this dep (it's used once).

As far as I'm concerned this is the only package out of thousands that cause this issue as most of them that had this issue were fixed by not publishing .babelrc when RNP started having this behavior.

[2017-02-02 17:12] grifotv commented on #25
Had the exact same problem - examples worked fine but had this issue when trying to integrate into an existing project.

[2017-02-02 17:13] ljharb commented on #23
@janicduplessis i already have: https://github.com/facebook/react-native/issues/10966

[2017-02-02 17:25] janicduplessis commented on #23
The current behavior of RNP is more or less like the `raw` case of your proposal (runs babel while considering .babelrc). In that case would it makes sense to move babel-preset-airbnb to deps instead of dev deps so it is installed, knowing it will be used since .babelrc is published?

[2017-02-02 17:29] ljharb commented on #23
In the world where RNP handles that behavior, they'd have to install the dev deps of all the packages as well - it wouldn't be a dev dep for normal usage.

[2017-02-02 17:41] farid-neopixe commented on #23
adding this line "babel-preset-airbnb": "^2.1.1" to my dependencies in my package.json worked out for me but when i tried to run an animation nothing appears at all!

[2017-02-02 17:55] lelandrichardson commented on #18
I'll add a note about the packager in the README, as well as the `pod repo update` in a troubleshooting section!  Thanks!

[2017-02-02 18:04] lelandrichardson commented on #9
I will let you know! I haven't started working on this, but I think all of the actual hard work is already done in the bodymovin library, so I don't think it will be too bad

[2017-02-02 18:05] farid-neopixe commented on #23
from what i've seen , a lot of folks been having the same build failure as me ! here's a screenshot of the error
![screen shot 2017-02-02 at 17 56 36](https://cloud.githubusercontent.com/assets/20015003/22561839/fe6e2322-e971-11e6-84e8-3725f0540bf0.png)

[2017-02-02 18:05] lelandrichardson commented on #12
I'll push out an update that's compatible with RN 0.40. Sorry about that!

[2017-02-02 18:08] lelandrichardson commented on #13
@dmolesworth which version of react and react-native are you using? Since those are peer dependencies, you will also need to install them if you don't have them already (which is what it looks like from your error message)

[2017-02-02 18:09] lelandrichardson commented on #21
Great idea.

[2017-02-02 18:10] dhwrwmgwra commented on #23
![screen shot 2017-02-02 at 11 39 49 pm](https://cloud.githubusercontent.com/assets/17001301/22562048/ec742994-e9a0-11e6-8b7f-9b7301acb291.png)
Same here

[2017-02-02 18:13] lelandrichardson commented on #25
@indivisable thanks for the detailed error report. The version of React that it's installing looks very off. It looks like this is because it is getting the React pod from the cocoapods specs repo, rather than in your node_modules (0.11.0 was the last RN version published to the main specs repo). I'll try and figure out what the right fix for this is. Sorry!

[2017-02-02 18:20] lelandrichardson commented on #23
@farid-neopixe @dhwrwmgwra This is related to #12. Please move discussion of those errors to that issue thread. (Will try and fix ASAP).

[2017-02-02 18:50] janicduplessis commented on #23
I would still like to figure out a solution that doesn't make everyone have to install an extra dep or add a postinstall script Since changes to RN packager to properly handle .babelrc files are still far off.

Some ideas:
- remove deline
- add babel-preset-airbnb to lottie-react-native deps
- document that you have to also install babel-preset-airbnb in lotties installation docs (less ideal)
- do

[2017-02-02 18:57] MyGuySi commented on #24
Sorry, I didn't notice the other issue related to 0.40. Feel free to close this if you'd like as it's the newer issue

[2017-02-02 19:16] zeljkoX commented on #23
Add this to postinstall hook
 (find node_modules -type f -name .babelrc | grep -v /react-native/ | xargs rm) || true

As noted in https://github.com/airbnb/react-with-styles/issues/30 thread.

[2017-02-02 19:16] ljharb commented on #23
I think documenting the postinstall script is the best approach.

[2017-02-02 20:11] dmolesworth commented on #13
thanks for getting back to me, i'm running version 0.40. I'll look at installing the dependancies

[2017-02-02 20:23] lelandrichardson commented on #24
Thanks. Closing and continuing to track this in #12

[2017-02-02 20:23] #24 closed

[2017-02-02 21:28] janicduplessis opened #27 "Example animations not always running on iOS"
There seems to be an issue on iOS where the animation won't always start and run properly, it only happens when driving progress with an Animated.value, works fine when using the imperative API.

Repro:
In the lottie example
- Run the first animation -> works
- Change example to another one
- Run the animation -> sometimes doesn't work, if it works keep changing example until it doesn't

iPhone 6

[2017-02-02 21:57] lelandrichardson commented on #27
@janicduplessis when it doesn't start, will hitting "Reset" work?

[2017-02-02 22:00] janicduplessis commented on #27
No, I logged the Animated.Value's value and that works properly, also android works fine so I guess the issue is in lottie-ios.

If I pop the screen that has the lottie example then go back to it it starts working again.

[2017-02-02 22:03] janicduplessis commented on #27
However as soon as I start switching between examples and playing animations is stop working after a few times (the animation doesnt start, only the first frame is shown)

[2017-02-02 22:35] lelandrichardson commented on #27
Interesting. OK. Must be a real bug then. Will take a look cc @buba447

[2017-02-02 22:39] lelandrichardson commented on #10
Looks like someone beat you to it? :)

https://github.com/bradmartin/nativescript-lottie

[2017-02-02 22:39] #10 closed

[2017-02-02 23:56] srshah19 commented on #25
Had a similar issue while building for android. Hope this helps.
![screen shot 2017-02-02 at 15 56 10](https://cloud.githubusercontent.com/assets/1692626/22573896/2e6dc166-e960-11e6-9629-68982a79aae6.png)

[2017-02-03 00:40] #18 closed

[2017-02-03 00:40] #23 closed

[2017-02-03 00:40] #25 closed

[2017-02-03 00:40] lelandrichardson commented on #12
Fixed by #28

[2017-02-03 00:40] #12 closed

[2017-02-03 00:48] lelandrichardson commented on #19
I'm going to open this back up because I think that this is still an issue (the main issue being that using Lottie as a static library right now requires cocoapods and people might not want to use that...)

[2017-02-03 04:02] zawarudo opened #29 "RN 0.41 includes a bundle file that causes node haste conflict"
Following https://github.com/airbnb/lottie-react-native#running-the-example-project

You can check out the example project with the following instructions

1. Clone the repo: `git clone https://github.com/airbnb/lottie-react-native.git`
2. Open: `cd lottie-react-native and Install: npm install`
3. Run `npm start to start the packager.`
4. ... error

node 7.4.0
npm 4.1.2

One liner to reproduce.

`

[2017-02-03 04:06] kaiyes opened #30 "Build error ------- same name across two different files."
Hi, git cloned and then npm installed. Then ran npm start , gives me this error. Opened another tab and ran `sudo gem install cocoapods`, `npm run build:pods` and then `npm run run:ios` which opens a frozen simulator window
![screen shot 2017-02-03 at 10 00 16](https://cloud.githubusercontent.com/assets/5293742/22579140/eb3564c4-e9f7-11e6-8126-5f9afeef9f2a.png)

[2017-02-03 05:03] indivisable commented on #25
@lelandrichardson

I still get this error:

![image](https://cloud.githubusercontent.com/assets/22860891/22580187/d17bec9e-e99b-11e6-8760-c722de59ffaa.png)

[2017-02-03 05:56] indivisable commented on #19
@AlexDM0 Thanks, Solved #25

[2017-02-03 05:59] lelandrichardson commented on #30
@kaiyes interesting. I think this is an RN 0.41 bug. It looks like there's some bundle file being created that shouldn't be. If you delete that 2nd file that's listed it should work.  I'll surface to the RN team and see what they say.

[2017-02-03 06:01] lelandrichardson commented on #30
Also, this is a duplicate of #29, so I'm closing this and will be tracking progress there

[2017-02-03 06:01] #30 closed

[2017-02-03 06:01] lelandrichardson commented on #29
Interesting. I think this is an RN 0.41 bug. It looks like there's some bundle file being created that shouldn't be. If you delete that 2nd file that's listed it should work. I'll surface to the RN team and see what they say.

[2017-02-03 06:16] indivisable opened #31 "Steps for Building without Cocoa Pods"
This may be helpful to others as it took me a few tries to get this working when integrating the library into an existing project (RN 0.36.0):

**Step 1)** Manually add babel-presets to **package.json**

[code]

**Step 2)** Install the React Native wrapper:

`yarn add lottie-react-native` OR `npm -i lottie-react-native --save`

**Step 3)** Install and Link to your project

`yarn install` OR `npm i

[2017-02-03 06:26] indivisable commented on #27
@janicduplessis I can confirm this as well - on iPhone 6S lastest iOS 10 running examples.

For me it seemed like specific examples would not load , I will test again and see I can help be more specific.

[2017-02-03 08:46] zawarudo opened #32 "duplicate interface definition for class 'RCTView'"
`
In file included from ./node_modules/lottie-react-native/lib/ios/LottieReactNative/LottieContainerView.m:9:
In file included from ./node_modules/lottie-react-native/lib/ios/LottieReactNative/LottieContainerView.h:12:
../../../react-native/React/Views/RCTView.h:21:1: error: duplicate interface definition for class 'RCTView'
`

lottie-react-native: 1.0.1,
react-native 0.41.0,

Full error log: http

[2017-02-03 10:19] grabbou commented on #29
Can you try reproducing on 0.41.0-rc.1? I think that's fixed now.

[2017-02-03 10:20] ABleas commented on #29
I have a similar issue that seems to be from conflicts with the Pod dependencies. I'm using a fresh react native 0.41 project, following instructions to add lottie on ios with Pods.

`Loading dependency graph...
React packager ready.

Failed to build DependencyGraph: @providesModule naming collision:
  Duplicate module name: react-native-packager
  Paths: ./ReactNative/LogoTest/node_modules/react-

[2017-02-03 11:06] zawarudo commented on #29
@grabbou Still broken for me with 0.41.0-rc.1

[2017-02-03 11:25] ferologics commented on #32
fixed in #28

[2017-02-03 12:36] farid-ouachrar opened #33 "Build Failed"
Hello guys , so i updated my lottie-react-native doucments to the latest version 1.0.1 and i'm running RN 0.41.0 and there's still a failure , the animation not appearing at all and here's what the terminal says :
![screen shot 2017-02-03 at 12 36 25](https://cloud.githubusercontent.com/assets/20015003/22591617/66ea264e-ea0d-11e6-902f-464d68ee39b4.png)

[2017-02-03 17:17] lelandrichardson commented on #29
@ABleas if pods is including a different version of react-native, then I think your project might be set up improperly. Pods should be installing react from node_modules.

[2017-02-03 17:19] hoangpham95 opened #34 "Cannot `npm start`"
I tried to run `npm start` but the packager report an error:
[code]

[2017-02-03 17:45] lelandrichardson commented on #34
@hoangpham95 please track this issue in #29 thanks!

[2017-02-03 17:45] #34 closed

[2017-02-03 17:50] grifotv commented on #29
deleting the file `./lottie-react-native/node_modules/react-native/Libraries/Renderer/src/shared/utils/deprecated.js` does make it work.

[2017-02-03 17:52] lelandrichardson commented on #29
@grifotv deleting the `bundle.js` is more advisable

[2017-02-03 18:16] IljaDaderko commented on #29
@lelandrichardson could you please point to exact location where such bundle.js file is located?

[2017-02-03 18:37] lelandrichardson commented on #29
@IljaDaderko `$REACT_NATIVE_MODULE_ROOT//local-cli/server/middleware/heapCapture/bundle.js` where `$REACT_NATIVE_MODULE_ROOT` would be `./node_modules/react-native` for most people if they're current working directory is where their package.json is.

[2017-02-03 18:38] IljaDaderko commented on #29
@lelandrichardson thanks, and to confirm 0.41.0-rc.1 still doesn't fix this for me either, I believe you have discussion going on over at react-native about this.

[2017-02-03 20:50] baires opened #35 "Loop prop isnt working"
I have a very simple view as you can see:

[code]
Im just trying to loop the animation, but no luck so far. Not sure if this is RN issue o lottie for iOS.

Im on
[code]

[2017-02-04 07:54] indivisable commented on #35
It works for me when using the imperative API
[code]

[2017-02-04 16:36] baires commented on #35
I didn't try the imperative API, just pointing that looping on the component API isn't working

[2017-02-04 17:11] lelandrichardson commented on #35
At the moment `loop` is only applicable to the imperative API. I'm not quite sure how it would work with the Animated API, since the animation progress is controlled by an animated value (which you would be able to loop yourself if you wanted, though it's not straight-forward).

I'm happy to take suggestions on how this could/should work

[2017-02-04 17:45] baires commented on #35
If there was a callback when the animation ends something like `onAnimationComplete` we can reset the animation again.

[2017-02-04 18:00] lelandrichardson commented on #35
if you're using the `Animated` API, this callback already exists. You would animate from 0 -> 1, and then reset

[2017-02-04 18:00] lelandrichardson commented on #35
Though, I do think that the `Animated` API could use a `loop` API. I know I had talked to vjeux about this at some point. Perhaps it's time to make a PR

[2017-02-04 20:07] lelandrichardson commented on #29
This is fixed in 0.41.1

[2017-02-04 20:07] #29 closed

[2017-02-04 20:10] lelandrichardson commented on #27
It looks like this only affects the declarative (Animated driven) API. My guess is that there's some issue with setting progress and then setting the json to something different. I'm pretty sure this used to work, so i'll take a look.

[2017-02-04 23:37] baires commented on #35
Sounds good, thanks for your feedback!

[2017-02-04 23:37] #35 closed

[2017-02-05 13:36] kyle-ssg commented on #32
Unless I'm missing something, the above PR didn't solve the problem. I'm still getting the issue mentioned on 0.40.0+ projects

[2017-02-05 17:18] lc3t35 opened #38 "cannot override getUseDeveloperSupport() as protected"
When I execute : npm run run:android, I have this error
[code]
Changing "protected" to "public" corrects the issue.

[2017-02-06 03:08] lelandrichardson commented on #32
You're getting this error because CocoaPods is referencing react native from the cocoapods specs repository, and not your local node_modules folder.  I'm assuming this is happening because you're including react into your project as a static library (not with cocoapods), but including Lottie with cocoapods.

I'm hoping to set this project up a little bit differently so it is easier to include as a

[2017-02-06 03:45] zawarudo commented on #32
@lelandrichardson

Thanks for the clarification, I'm still having trouble understanding what you mean however.

Should I ommit the react entry to allow CocoaPods to handle the installation?
Below is my PodFile and output when installing.

**Podfile**

**Output**

**Package.json**

[2017-02-06 08:16] ABleas commented on #19
I'm also having the issue with duplicate references, on RN 0.41.1, while trying to add the lottie project manually (without Pods). Anyone figure out a solution for that? Do I need to roll back to 0.38 for this?

[2017-02-06 10:41] rqzheng2015 commented on #27
got same issue here, any solutions now?

[2017-02-06 11:07] offwhite commented on #32
I'm also struggling with this issue - Linked [Lottie-ios](https://github.com/airbnb/lottie-ios) and lottie-react-native as static libraries but still getting the same header errors.

would love some clarity here @lelandrichardson - also, thanks for this, I think it's going to be a fantastically useful library.

[2017-02-06 11:19] ferologics commented on #27
+ 1

[2017-02-06 11:40] AdriVig commented on #32
I'm having the same issue after linked lottie-react-native as static library in Xcode

Xcode : 8.2.1
RN : 0.40.0
lottie-react-native : 1.0.1

![untitled](https://cloud.githubusercontent.com/assets/9379198/22645753/de295c9a-ec68-11e6-9449-73e59985f712.png)
![untitled2](https://cloud.githubusercontent.com/assets/9379198/22645789/147259e6-ec69-11e6-8e2a-b05e1ac232f3.png)

[2017-02-06 15:21] eneskaya commented on #21
Nice, works great 👍

[2017-02-06 16:10] ferologics opened #39 "Cannot read property 'Commands' of undefined"
It doesn't appear that your React Native support for Android works.

`AirbnbLottieView` in undefined in `Animation.js` line 97 when calling `UIManager.AirbnbLottieView.Commands[commandName]`

Where is this coming from?

After some source digging I believe it should be called `LottieAnimationView` instead.

[2017-02-06 16:43] MattyK14 commented on #27
Before switching animation examples, dragging the progress bar back to the start seems to avoid this bug for me.

[2017-02-06 17:29] lelandrichardson commented on #19
@ABleas can you walk me through what you've done so far? This should be possible, albeit a bit manual. Looking for a better solution (might include Lottie ios source in the npm published package) but haven't done this yet.

You should be able to follow the steps @indivisable referenced above in #31 and get it working w/out CocoaPods.

[2017-02-06 17:45] lelandrichardson commented on #19
FYI, I think we've got a good solution to this. Going to try and get it fixed today.

[2017-02-06 19:44] femontanha commented on #21
@eneskaya do you know how I do a loop? I tried to add this `loop` property but doesn't work

[code]

[2017-02-06 20:13] eneskaya commented on #21
@femontanha It only works with the imperative API, so be sure NOT to use `progress` prop. Instead do something like this:

[code]

[2017-02-06 20:13] #21 closed

[2017-02-07 05:19] ABleas commented on #19
I did follow the steps in #31, except that using `npm install lottie-react-native` seemed to give me the same issues @MyGuySi was having with duplicate references.

Not sure if npm was giving the latest GitHub version last night but instead I checked out this repo in a separate directory, added the LottieReactNative.xcodeproj to my project's Libraries, and added the dependency *libLottieReactNativ

[2017-02-07 07:49] rqzheng2015 commented on #39
it works for me, thx~

[2017-02-07 08:41] zhaojiakang917 commented on #38
change protected to public

[2017-02-07 10:20] offwhite commented on #32
I fixed this with some minimal tweaks to the imports, put a PR in for it here: https://github.com/airbnb/lottie-react-native/pull/41

[2017-02-07 10:24] federicoortegs opened #42 "videos porno"

[2017-02-07 10:25] federicoortegs commented on #42
Porno infantil

[2017-02-07 10:25] federicoortegs commented on #42
Porno

[2017-02-07 10:25] #42 closed

[2017-02-07 12:41] jondot commented on #32
To provide some more specific steps for what @lelandrichardson suggested, here's how to successfully use Lottie and `lottie-react-native` with the latest react native, this is in addition to what @offwhite just suggested.

* First, install `lottie-react-native` in the normal way (not through cocoapods), and link it with `react-native link`.
* Make sure you see it under Libraries:
![image](https://

[2017-02-07 15:39] offwhite commented on #39
@ferologics did you have to add lottie for android to your build gradle to get this lib to work on android?

[2017-02-07 17:35] rqzheng2015 commented on #39
@offwhite i have tested it on real device, no need to do that

[2017-02-07 18:17] offwhite commented on #39
thanks for the reply @rqzheng2015 - I'm also testing on a real device, and I'm still getting an error after updating Animation.js (screen grab attached)

Inspecting UIManager, I can see no reference to LottieAnimationView, so I'm thinking that Lottie for android library isn't available, though this is in my build.gradle: `compile 'com.airbnb.android:lottie:1.0.1'`

![screenshot_20170207-181447](ht

[2017-02-07 21:30] kainolophobia commented on #31
If anyone is having trouble getting the lottie-ios project to build properly, I used [this commit from 5 days ago](https://github.com/airbnb/lottie-ios/tree/5159b2ce3856cfe6704367cbed45ab649d514f6a) when this issue was created.

[2017-02-08 00:30] ferologics commented on #39
@offwhite all you need is 'lottie-react-native', link it, and make the change mentioned in the PR.

[2017-02-08 03:42] nikitph opened #43 "cant get the examples to work"
latest react-native. copy pasted both examples and tried it with attached data.json to no avail. i just get a blank screen. clearly it has worked for people. i m not sure wht i m doing wrong. help?
[data.json.zip](https://github.com/airbnb/lottie-react-native/files/759653/data.json.zip)

[2017-02-08 04:52] the-simian commented on #38
to be more specific:
in your `MainApplication.java` file,
`public boolean getUseDeveloperSupport() {` <-----

[2017-02-08 06:22] nikitph commented on #43
my best guess is a incompatible json file

[2017-02-08 09:56] offwhite commented on #43
are you running it on ios or android?

[2017-02-08 10:08] kresogalic8 opened #44 "Execution failed for task ':app:dexDebug'"
Hey guys, I tried to run your example on android and I got this error, can you tell me what's the problem?

![screen shot 2017-02-08 at 11 14 03 am](https://cloud.githubusercontent.com/assets/7289406/22732784/caaa8e7c-edef-11e6-9d1d-bc0b96d0d8dd.png)

[2017-02-08 13:50] thibmaek commented on #33
Same here!

[2017-02-08 15:20] jmfirth commented on #19
Duplicate interface definition for class 'RCTView'
Property has no previous declaration x20

RN 0.40
react-native link'd

This happens irrespective of whether I do the manual steps in #31 or not.

[2017-02-08 16:34] nikitph commented on #43
Ios
On Wed, Feb 8, 2017 at 1:56 AM offwhite <notifications@github.com> wrote:

[2017-02-08 20:28] lc3t35 commented on #38
@zhaojiakang917 @the-simian thanks but did you read the end of my post : "Changing "protected" to "public" corrects the issue" ;) Maybe I should have submitted a PR that would be more visible ;)

[2017-02-08 20:28] #38 closed

[2017-02-08 22:14] huangbow commented on #33
+1

[2017-02-09 00:28] #39 closed

[2017-02-09 03:31] budingts opened #48 "can't surpport RN0.31"
can't surpport RN0.31

[2017-02-09 03:31] juanq123 commented on #48
I hope you can give RN0.31 a support

[2017-02-09 03:42] indivisable commented on #48
Could you please be more specific?

[2017-02-09 03:47] indivisable opened #49 "1.0.4 Build Missing Header / Errors"
I recently tried to update to latest build (1.0.4) and got some issues:

First the LottieReactNative projects asks for the Lottie.h

![image](https://cloud.githubusercontent.com/assets/22860891/22768404/92d74906-ee47-11e6-8716-a0dc16ac6a22.png)

Then if I update the header path to include the path `$(SRCROOT)/../../../lottie-ios` then I get a bunch of errors:

![image](https://cloud.githubusercont

[2017-02-09 04:57] lelandrichardson commented on #49
@indivisable i apologize for the turbulence here. I have figured out how to make a project with other ios dependencies work for RN for all types of projects (both cocoapods and not). The last thing we need is for https://github.com/airbnb/lottie-ios/pull/64 to get merged. That will hopefully happen tomorrow morning.

Thanks so much for your patience! This project has been a learning experience for

[2017-02-09 05:10] indivisable commented on #49
@lelandrichardson No problem at all :) Considering how awesome this library is it is worth it! Thanks for the update and look forward to testing updated version.

[2017-02-09 07:54] coolnameismy commented on #49
this issue because the pod not install completely, i cross same situation.
i insert a line at 12, `  pod 'lottie-ios', :path => '../../node_modules/lottie-ios/lottie-ios.podspec'` for down load the lottie-ios, after wait, the problem is gone .

[2017-02-09 08:36] zeljkoX opened #50 "Text support?"
Does lottie support text? I have tried using system supported fonts but I can't run animation. Same animation without text is running on Android device.

[2017-02-09 15:43] Fdom92 commented on #44
I have the same issue. Just make some test to try react-native with lottie but fails. I followed all the steps on the README, but got that error so i cant see my watermelon.

I dont have a huge code just the starter kit and lottie.

[code]

[2017-02-09 17:38] jncx opened #52 "Animations not showing on iOS"
Hi,

I've installed lottie-react-native and setup the code examples using the animation data, but it's just showing a blank screen and giving no error. Could you please let me know if I've missed any steps? (For example, do I need to install Lottie for iOS independently?)

Many thanks in advance for your help, and for the library, it looks awesome if I can get it up and running!

I ran:
    `npm i

[2017-02-09 18:56] baires commented on #52
Same boat here. I'm on `lottie-react-native 1.0.4` and the animation is not showing up. It was working on `lottie-react-native 1.0.1`.

[2017-02-09 23:57] thibmaek commented on #33
<details>
<summary>Full build log:</summary>

[code]

</details>

[2017-02-10 01:44] spikebrehm commented on #38
Indeed, in a recent version the method changed from `protected` to `public`: https://github.com/facebook/react-native/pull/11329

[2017-02-10 05:34] therealsalih commented on #50
@zeljkoX Lottie doesn't yet support text

[2017-02-12 16:03] Nirsky opened #57 "iOS with cocoapods error - "Unknown receiver 'LAAnimationView'; did you mean 'LOTAnimationView'?""
On version 1.0.5 - I'm getting the specified error (`Unknown receiver 'LAAnimationView'; did you mean 'LOTAnimationView'?`) when trying to run my project from Xcode.
The problematic file is:

When replacing all occurrences of `LAAnimationView` with `LOTAnimationView` the project compiles and I'm able to display animations correctly.
But still I can't use it this way since the repo is shared by a l

[2017-02-12 23:38] rjaylwar commented on #57
I am seeing the same issue

[2017-02-13 01:55] jalpedersen commented on #57
The lottie-ios team made some name changes about 5 days ago. I opened a pull-request about 4 days ago, and unless there is some subtle detail I'm missing, the fix is trivial

[2017-02-13 09:17] jjhesk commented on #52
@baires does it support core 0.41.0 now?

[2017-02-13 09:19] jjhesk opened #58 "Animation is not loading from the view"
does it support react-native 0.41.0 and lottie 1.0.5 now?

I had to remove the callings from podfile because the official have suggested not to use podfile anymore.
[code]
these are removed

I have use `rnpm` and link the modules successfully under `1.0.5`.. let me know if it is working now. I tested by using the sample animations provided by the example project and required with the correct path.

[2017-02-13 13:20] baires commented on #52
@jjhesk Cant make it work with my stack

[code]
At first I thought it was related to https://github.com/airbnb/lottie-ios/issues/86 but after manually pointing to new version of `lottie-ios` on my `podfile` same result, no animation. Its a shame I will have to look for another library.

[2017-02-13 19:18] lelandrichardson commented on #44
I'm able to reproduce this locally as well. Not sure what has changed. cc @gpeal @felipecsl do you think you can help out ?

[2017-02-13 19:26] lelandrichardson commented on #57
Fixed in 1.0.6

[2017-02-13 19:26] #57 closed

[2017-02-13 19:27] lelandrichardson commented on #19
This should now be possible in 1.0.6 without cocoapods

[2017-02-13 19:27] #19 closed

[2017-02-13 19:27] lelandrichardson commented on #31
This should be fixed now. Please let me know if it's not!

[2017-02-13 19:27] #31 closed

[2017-02-13 19:29] lelandrichardson commented on #32
This should work in updated versions now with no extra steps except what's listed in the README. Please let me know if you're having trouble!

[2017-02-13 19:29] #32 closed

[2017-02-13 19:32] lelandrichardson commented on #33
@thibmaek what version of lottie RN are you using? Can you try installing latest and let me know if problem persists? You may have to run `react-native link lottie-ios && react-native link lottie-react-native` before building

[2017-02-13 19:46] lelandrichardson commented on #49
@coolnameismy is this still happening?

[2017-02-13 19:49] mikehobi commented on #49
I am getting the `'Lottie/Lottie.h' file not found` error on a fresh install. Haven't tried updating the header path; is that an additional install step for the project?

[2017-02-13 19:54] samcorcos commented on #57
Thanks @lelandrichardson, that did solve the error, however I am now getting a new error:

[code]

I have no idea what to make of this one (I'm not an Obj-C developer).

[2017-02-13 21:43] yoohoogun114 opened #59 "Cannot build on React Native 0.41.2"
# Current behavior:
Cannot build.

# Reproduce:
$ React native awesome
$ cd awesome
$ npm i --save lottie-react-native
[code]
$ react-native link lottie-ios
[code]
$ react-native link lottie-react-native/
[code]

$ react-native run-ios
[code]

So, I open my iOS project ,clean and then build

But error log here
[code]

My environment is OS X Elcapitan 10.11

$ node -v
[code]

$ npm -v
[code]

$ rea

[2017-02-13 22:00] thibmaek commented on #33
@lelandrichardson so just updated both to latest and relinked the native code which produced:

[code]

Weird that it produces those logs about being built for a newer version since my target is iOS 8 and Lottie should work for that.

[2017-02-14 11:05] note89 opened #61 "loop animation waits before restarting."
Hi i basically this in my component

[code]
And the animation runs ones then waits and then runs again.
The time it waits gets shorter if the duration is gets shorter.

Here is the animation.
[code]

[2017-02-14 11:11] note89 commented on #61
If i use the imperative api, with `loop={true}` then its smooth

[2017-02-14 14:20] note89 opened #62 "animations that requires assets"
Hi, how does it work with animations that require assets
got an animation that makes use of some `png` files.

This is our animation.
[code]

Our designer then traced the images and made the Json without require and it still did not work so we might be doing something wrong altogether.

[2017-02-14 14:29] #62 closed

[2017-02-14 17:16] carleryd opened #63 "Compiles fine but iOS crashes on startup"
Runs fine on Android, runs fine on XCode simulator, but crashes instantly on iOS startup, giving me nothing but a stack trace to some assembly line..

I found out through another post that the issue was that I had not added Lottie.framework to "Embedded Frameworks" in the "General" tab.
Hope this helps someone out!

[2017-02-14 17:16] #63 closed

[2017-02-15 00:03] FMJaguar commented on #59
Same error here, temporarily fixed by creating a new project using the guide in #31

[2017-02-15 12:20] jjhesk commented on #52
yes. @lelandrichardson i got the similar error too. I am thinking if this library is usable still... i saw this at the console.

[code]

[2017-02-15 12:51] jjhesk commented on #59
no animation here and I cannot build. #52

[2017-02-15 14:55] leesolway commented on #59
Same error

[2017-02-15 16:41] hugohow commented on #59
Same for me

[2017-02-15 17:43] jozan commented on #59
I got it working by adding `Lottie.framework` to `Embedded Binaries` in XCode.

![image](https://cloud.githubusercontent.com/assets/388265/22987285/eb1f56d4-f3b6-11e6-962a-129d261e6e6c.png)

[2017-02-15 17:52] yoohoogun114 commented on #59
@jozan Awesome! It works for me

[2017-02-15 18:04] hugohow commented on #59
@jozan  it workd for me too ;) Thanks !!

[2017-02-15 18:12] yoohoogun114 commented on #59
In more detail,
![2017-02-16 2 56 55](https://cloud.githubusercontent.com/assets/13046348/22988485/a23ac3f6-f3f5-11e6-9bc8-b98d426dcbd6.png)
![2017-02-16 2 57 17](https://cloud.githubusercontent.com/assets/13046348/22988495/ac4d1e20-f3f5-11e6-8efa-edc2f587aebd.png)

[2017-02-15 18:16] leesolway commented on #59
Worked for me also, thanks.

[2017-02-15 18:22] yoohoogun114 commented on #59
It Resolved For me, so closed

[2017-02-15 23:13] indivisable commented on #52
Same here, it was working great with prior versions (build issues aside) but after I came back after a week or so it is not showing any animations. It build properly however using the code from example does not start animation, I'll try minimal example next.

Anyone have a solution for this?

Lottie/Lottie RN: 1.0.6
RN: 0.38.0
iOS: 10.2.1 (Latest)

[2017-02-15 23:19] indivisable commented on #49
This seems to be resolved with 1.0.6 release.

[2017-02-15 23:19] #49 closed

[2017-02-16 09:59] iNDicat0r opened #64 "Build failed with: ':app:dexDebug' task"
When i try to build i get this error:

`:app:dexDebug FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:dexDebug'.

and also :
`:app:dexDebug
Unknown source file : UNEXPECTED TOP-LEVEL EXCEPTION:
Unknown source file : com.android.dex.DexException: Multiple dex files define Landroid/support/v7/appcompat/R$anim;
Unknown source file : 	at com.android

[2017-02-16 10:10] leesolway commented on #59
Its still a bug though and needs to be resolve, doesn't it?

[2017-02-16 12:55] jozan commented on #64
Run `cd android  && ./gradlew clean`.

[2017-02-16 12:58] jozan commented on #44
I got this working by cleaning build caches in `android` directory. `./gradlew clean`.

[2017-02-16 13:10] iNDicat0r commented on #64
Thanks. could you please explain why this happens ?

[2017-02-17 02:03] samcorcos opened #65 "Duplicate module name: react-native-packager"
I've attempted to install Lottie via pod install, but when I run the app I get the following error in the packager:

[code]

Any thoughts on how to resolve this naming collision?

[2017-02-17 05:44] lee-you opened #66 "ios build failed"
RN version :0.41.2
after npm i --save lottie-react-native
react-native link lottie-ios
react-native link lottie-react-native/

<img width="532" alt="509e06fa-21e6-4935-adeb-50660ac22161" src="https://cloud.githubusercontent.com/assets/18346188/23053845/181955f2-f517-11e6-8f44-c78bc071d0c1.png">

[2017-02-17 05:59] beiming commented on #59
@yoohoogun114 Same error. and solved by your answer.
But I have new error:
1. Can not run `react-native run-ios`  to start simulator, build success, run crash.
2. Launch simulator from Xcode, no error. but not show animation.

Do you have same question?

[2017-02-17 07:02] beiming opened #67 "Build on React Native error and run simulator from command line crashed"
Version

   lottie-react-native: 1.0.6
   lottie-ios: 1.0.2
   Xcode: 8.2.1

Install & Link follow by ReadMe

   react-native link lottie-ios
   react-native link lottie-react-native

Then run simulator: `react-native run-ios` build error:

    Undefined symbols for architecture i386:
      "_OBJC_CLASS_$_LOTStrokeShapeLayer", referenced from:
          _OBJC_CLASS_$_LOTCircleShapeLayer in libLott

[2017-02-17 09:37] olle-moren-schibsted commented on #31
I still get the `'Lottie/Lottie.h' file not found` inside `node_modules/lottie-react-native/lib/ios/LottieReactNative/LRNContainerView.h` having RN: 0.39.2
I've manually dragged both `lottie-react-native` and a separately cloned `lottie-ios` into Xcode as described in earlier posts.

[2017-02-17 09:45] indivisable commented on #31
@olle-moren-schibsted are you sure you are using the latest 1.0.6?

[2017-02-17 09:47] indivisable commented on #66
@lee-you Could you confirm which version of lottie-react-native got installed? You can see this in node_modes/lottie-react-native/package.json

Also try using this command:

npm -i --save github:airbnb/lottie-react-native to get latest release from repo as the npm package may not have been updated yet

[2017-02-17 09:49] indivisable commented on #65
Could you try to install with npm?

[2017-02-17 09:49] leesolway commented on #59
I had the same experience. I can compile, but no animation or image rendering.

[2017-02-17 09:56] indivisable commented on #67
See Step 6 here: https://github.com/airbnb/lottie-react-native/issues/31

Also add to **Embedded Binaries**

[2017-02-17 10:00] olle-moren-schibsted commented on #59
I've RN 0.39.2 and been trying all guides here, still having the same error á `'Lottie/Lottie.h' file not found` inside `node_modules/lottie-react-native/lib/ios/LottieReactNative/LRNContainerView.h`
Do you guys think it's RN 0.39.2 being the bad guy?

[2017-02-17 10:00] indivisable commented on #59
@leesolway same here, trying to figure out why rendering is not working (https://github.com/airbnb/lottie-react-native/issues/52)

[2017-02-17 12:48] CodogoFreddie commented on #57
Still an issue for me, on master and v1.0.6 in `lottie-react-native/lib/ios/LottieReactNative/LRNContainerView.m` and `lottie-react-native/example/ios/Pods/Headers/Public/lottie-ios/Lottie/LAAnimationView.h`.

Any Ideas?

[2017-02-17 13:31] olle-moren-schibsted commented on #31
@indivisable yes, the `package.json` has `"dependencies": {"lottie-react-native": "^1.0.6"}` auto injected.

[2017-02-17 15:36] madsleejensen commented on #66
i receive samme error: i tried doing a clean install of node_modules/ but still same error

[2017-02-17 18:54] samcorcos commented on #65
@indivisable Thank you, that did solve the collision error, but now I get a different error. I cleared my `node_modules` and started from a clean project (which compiles fine without Lottie).

[code]

That said, the app seems to open in the simulator and runs fine (I haven't tried using Lottie yet). Perhaps this error is not related to Lottie? Though, it only seems to appear after installing Lotti

[2017-02-17 21:56] indivisable commented on #52
@lelandrichardson Any ideas on this one? The project seems to be building correctly now however no animations are displaying. I'll see if I can dig in a bit deeper tonight and start debugging the render methods.

[2017-02-18 01:40] yoohoogun114 commented on #59
It works for me, but looks like not others. so Reopen.

[2017-02-19 12:47] jozan commented on #59
@olle-moren-schibsted Are you sure you have linked `lottie-ios`as well?

`react-native link lottie-ios`

[2017-02-19 12:49] jozan commented on #64
@iNDicat0r I definitely have no idea. I've got it multiple times and it is starting to get frustrating.

[2017-02-19 12:56] iNDicat0r commented on #64
I have expirienced this issue only with this library but i am still ok to run the command and have the project running

[2017-02-20 09:44] olle-moren-schibsted commented on #59
@jozan having node version 6.5.0 and RN 0.39.2 doing like this:
[code]

[2017-02-20 19:18] huangbow commented on #67
If you talked about the example, actually, the problem is due to the pod lock file. You could go to example/ios, and run `pod update`. Then, you are good to go. I made a pull request about this. #60

[2017-02-21 14:53] MyGuySi opened #69 "Unable to build iOS examples"
I tried Lottie when it was initially release but figured I'd give it a bit of time to iron out some of the issues that were present at launch. I've made a fresh clone though and I'm still unable to build:

<img width="257" alt="screen shot 2017-02-21 at 14 49 37" src="https://cloud.githubusercontent.com/assets/12952977/23169898/5d300916-f845-11e6-87bb-3948d190e520.png">

I'm using v1.0.6 if that h

[2017-02-21 19:14] huangbow commented on #69
run `pod update` in the example/ios file

[2017-02-21 23:21] ryanflorence opened #70 "ratios off from web"
Thanks for the lib :)

I downloaded a json file from lottiefiles.com and it's all goofed up:

![image](https://cloud.githubusercontent.com/assets/100200/23189743/4e673f4a-f849-11e6-8a58-c557da14c0b2.png)

I copy/pasted the example code from the README. The animation looks great on the web, is there some prop I need? It reminds me of screwing up the viewbox values in an svg.

Thanks.

[2017-02-21 23:23] ryanflorence commented on #70
The gears.json is really off:

![image](https://cloud.githubusercontent.com/assets/100200/23189837/be0ca4ac-f849-11e6-873a-d323166c9c31.png)

[2017-02-22 03:30] clucasalcantara commented on #27
Try to add the lottie-ios to you xcode embed libraries.
![image](https://cloud.githubusercontent.com/assets/6919712/23196065/0dfa07ce-f896-11e6-9392-690389d47ae9.png)
![image](https://cloud.githubusercontent.com/assets/6919712/23196065/0dfa07ce-f896-11e6-9392-690389d47ae9.png)

[2017-02-22 11:58] jozan commented on #59
@olle-moren-schibsted Those are the steps I got it working on RN 0.41.2.

[2017-02-22 23:43] aindong commented on #52
I'm also having this trouble right now. same version of lottie and react-native. First I was getting the version issues so I did `react-native upgrade` and now it compiles just fine and run w/o errors but also no animation

[2017-02-23 14:40] leesolway commented on #52
Same issue.. Compiling, but no animation.. Just blank

[2017-02-23 23:56] amirmi commented on #57
Doesn't work for me either, I got the issue in the subject, "auto-fix"ed it by replacing LA with LOT.
and then I got what @samcorcos has...

any news?

[2017-02-24 07:28] JanPeter commented on #66
Any update on this?

[2017-02-25 13:53] kuoliangkwong opened #71 "Android build failed"
Hi I tried with v1.0.5 and i got this after linking

`Information:Gradle tasks [clean, :app:generateDebugSources, :app:generateDebugAndroidTestSources, :app:mockableAndroidJar, :app:prepareDebugUnitTestDependencies]
C:\Users\kkl%20kwong\Desktop\JobStreet\react_native_source_code\TestProject1\node_modules\lottie-react-native\lib\android\build\intermediates\exploded-aar\com.android.support\appcompat

[2017-02-26 01:45] yelkamel opened #72 "Where to find JSON adobe effect animation"
Hello,

It's not really an issue but I completely shit on adobe (I never use it).
Do you know if there is any site where I can find some animation in JSON ?

Regards

[2017-02-27 07:28] verybadassninja commented on #72
Hi,
There is a few animation here,
http://www.lottiefiles.com

[2017-02-28 04:36] therealsalih commented on #70
@ryanflorence I'll download those and take a look to see what the issue is!

[2017-02-28 04:47] therealsalih commented on #69
@MyGuySi did running pod update work for you?

[2017-02-28 04:58] #50 closed

[2017-02-28 05:20] therealsalih commented on #70
@ryanflorence yea these look broken for me too, it's not on your end. As we're not affiliated with Lottiefiles.com i'm not quite sure why those animations are all wonky and it doesn't look like they've actually tested them on Lottie yet. What Bodymovin supports and what Lottie supports are slightly different at the moment. I'll try to get the AE files from those guys and we'll try to track down so

[2017-02-28 08:51] MyGuySi commented on #69
Hey sorry, I must have missed the last notification. I'll give it a try today and report back

[2017-02-28 12:04] MyGuySi commented on #69
Yeah that worked, thanks!

[2017-02-28 12:04] #69 closed

[2017-03-01 07:56] PanJ commented on #59
For anyone that is still having problem. Error is something like this

[code]

This can be fixed by deleting `libLottie.a` and adding `Lottie.framework` in the embeded binaries section instead. The final linked libraries should be like this.

![image](https://cloud.githubusercontent.com/assets/1797879/23450625/c962834e-fe8e-11e6-9cdb-760757dc0763.png)

[2017-03-01 21:29] jdpigeon opened #78 "lottie-android 1.5 support in react native?"
I was really excited to hear that pre-compositions and images are now supported in the last version of Lottie for Android.

However, introducing the new update (1.5.2) through both my app's build.gradle or the lottie-react-native build.gradle in node_modules leads to a null object exception in the parseLayers method of LottieComposition.java

`
Caused by: java.lang.NullPointerException: Attempt to

[2017-03-02 00:05] onpaws opened #79 "Example project fails to build"
Hello,
I'm trying to get started with Lottie on RN.
I started here https://github.com/airbnb/lottie-react-native#running-the-example-project

Everything is good until I get to
`npm run run:ios`

Encountering build errors similar to (but not the same) as #57.

[code]

[2017-03-02 00:05] onpaws commented on #57
@lelandrichardson I'm encountering a similar issue, but the naming is the other way around. More over at #79

[2017-03-02 03:09] duringg opened #80 "How to add JSON with source?"
I can run the example JSON .
and run the JSON without Image source export by AE

but can't run the JSON by use Image source export by AE

JSON  :

{"v":"4.5.9","fr":25,"ip":0,"op":750,"w":750,"h":1334,"ddd":0,"assets":[{"id":"image_0","w":154,"h":154,"u":"images/","p":"img_0.png"},{"id":"image_1","w":154,"h":154,"u":"images/","p":"img_1.png"},{"id":"image_2","w":154,"h":154,"u":"images/","p":"img_

[2017-03-02 04:05] jdpigeon commented on #80
The current version of lottie-react-native doesn't support images. Support was just added in lottie-android, however, so there's hope you'll be able to run JSON animations with images in RN soon

[2017-03-02 05:04] minhtc commented on #52
+1, no animation play

[2017-03-02 09:55] grifotv commented on #72
You can get the bodymovin JSON files from these examples http://codepen.io/search/pens?q=bodymovin&limit=all&type=type-pens

[2017-03-02 13:16] mdramos commented on #52
Same here.

[2017-03-02 20:10] GingerBear commented on #52
no animation playing on ios
react native 0.40.0

[2017-03-03 00:16] eneskaya opened #81 "unknown type name 'LAAnimationView'; did you mean 'LOTAnimationView'?"
With 1.0.6 I am getting this error:

[code]

What's happening there?

Steps made:
- pod update
- reinstall node_modules directory

[2017-03-03 04:34] therealsalih commented on #81
In newer versions of Lottie on iOS LAAnimationView was turned into LOTAnimationView to avoid namespace conflicts

https://github.com/airbnb/lottie-ios/releases/tag/1.0.4

[2017-03-03 09:15] eneskaya commented on #81
According to my Pod lockfile I have version 1.5.1. I don't get what's wrong there

[2017-03-03 15:05] tetrakiss opened #82 "Don't see any animation"
Hello,
react-native-cli: 2.0.1
react-native: 0.42.0
lottie v1.0.6

I try build app with simple code from basic usage:
[code]
I took HamburgerArrow.json from example. All ok it build success, but I don't see any animation.
Any ideas?

[2017-03-03 21:32] dslounge commented on #31
- "react-native": "0.41.2",
- "lottie-react-native": "1.0.6",
- not using cocoapods

Just chiming in to add that I also get the `'Lottie/Lottie.h' file not found` issue. I also can't run the project via `react-native run-ios` either, I get this issue:

[code]

I'm just starting the process of looking through issues to find an answer, but just wanted to let you know that it happened to me.

[2017-03-04 06:45] g3r4n commented on #59
Thanks @PanJ !

[2017-03-04 06:47] g3r4n commented on #82
Remove LibLottie.a from the linked dependancies

[2017-03-04 07:18] g3r4n commented on #27
You have to remove libLottie.a

[2017-03-04 07:20] g3r4n commented on #52
You have to remove LibLottie.a from linked iOS dependancies.

[2017-03-04 07:22] g3r4n commented on #79
See an example running here : https://github.com/g3r4n/react-native-lottie-example

[2017-03-04 07:22] g3r4n commented on #43
See an example running here : https://github.com/g3r4n/react-native-lottie-example

[2017-03-04 08:30] onpaws commented on #79
Thanks! will try it this weekend

[2017-03-04 10:38] panunu commented on #78
Would also like to know when the RN version is going to catch up with native Lotties :-)

Is there something blocking the upgrade or just a lot of work?

[2017-03-06 19:08] GingerBear commented on #52
@g3r4n thanks, it works!

[2017-03-06 23:57] #81 closed

[2017-03-07 12:40] eneskaya commented on #63
Thank you, helped me

[2017-03-07 13:55] irrigator commented on #82
@g3r4n Thanks for a working example! Could you please explain a bit more about why the official example fail to run? It will be even nicer to help make it work!

[2017-03-08 01:10] g3r4n commented on #82
@irrigator I'm not a IOS developper so it will be hard for me to explain in details why it's not working.
The official example use Cocoapods to build and run the project. My example use  the react-native client. this is a major difference between the official example and mine.
The error come from tthe lottie-ios project that don't correctly link the dependencies to the iOS Xcode project.

[2017-03-08 09:08] mynane opened #83 "No ViewManager defined for class LottieAnimationView"
No ViewManager defined for class LottieAnimationView

[2017-03-09 07:31] amalChandran commented on #83
I had the same issue. I resolved it like:

- Re run : react-native run-android
- This might create a build failure.
- cd android && ./gradlew clean

 Now run again.. it should wait.

[2017-03-09 10:48] fdnhkj opened #88 "Add supported / unsupported After Effects features"
Example in `lottie-ios`
* https://github.com/airbnb/lottie-ios#supported-after-effects-features
* https://github.com/airbnb/lottie-ios#currently-unsupport-after-effects-features

[2017-03-09 13:09] aaronsky commented on #78
I would also like to know the status of this upgrade. Not using precomps or image layers while still integrating this preferable animation solution would require my designers to redo their work without those features, which I'd rather not have them do

[2017-03-09 17:21] ryancoughlin commented on #82
I am having a similar issue. Is that example at the repo using CocoaPods?

[2017-03-09 22:13] g3r4n commented on #82
@ryancoughlin I'm not using CocoaPods

[2017-03-10 11:23] panunu commented on #78
@lelandrichardson any comment? :-)

[2017-03-11 14:40] kyle-ssg commented on #59
Can this be added to the readme?

[2017-03-11 21:13] gschattenhofer opened #89 ""Something went wrong while linking""
When I'm trying to link i'm getting some errors.

[code]

[code]

react-native-cli: 2.0.1
react-native: 0.37.0
node -v v7.5.0

I'll be trying CocoaPods now, but i'm interested on why i'm getting that error.
=== Edit
I've tried adding lottie on Podfile (also added react on it, cause i was getting a deprecated message). Run pod install successfully but i was not able to reproduce an animation. I've

[2017-03-12 01:47] g3r4n commented on #59
@kyle-ssg see PR #86

[2017-03-12 01:49] g3r4n commented on #89
do not use `react-native link lottie-ios` see PR #86 to link manually the lottie iOS framework

[2017-03-12 04:40] gschattenhofer commented on #89
I've linked manually tha lottie as it's on that PR. I see the Lottie.framework in build/Debug-iphoneos on Embedded Binaries. Still can not manage to play the animation on iOS. If the verification added on that PR is having the framework on that list, then i guess this issue no longer a Linking problem. I've verified already that LibLottie.a is not under Linked Frameworks and Libraries, but i do ha

[2017-03-12 04:46] g3r4n commented on #89
Have you rebuild the project ? Can you share a repository in order to reproduce the error ?

[2017-03-12 04:47] g3r4n commented on #89
Here you can find a working example :
https://github.com/g3r4n/react-native-lottie-example

[2017-03-14 02:03] onpaws commented on #79
It's been over a month since this was [first reported](https://github.com/airbnb/lottie-react-native/issues/43).
My team is very interested in trying Lottie out.
I assume this must be working for other folks, because it seems very strange that the first thing anyone interested in Lottie will do is so badly broken and apparently no interest in fixing.

Thanks @g3r4n
Am next trying to set up without

[2017-03-14 02:04] onpaws commented on #79
Thanks @g3r4n
Am next trying to set up without Cocoapods, since that seems to break things.
I was encountering back-icon.png missing errors on your repo.
Latest everything. Will post there.

[2017-03-14 06:02] jjhesk commented on #59
It is working only if this condition is met and correctly linked:
Embedded binary + Lottie.framework
Link Frameworks and LIbrary +  libLottieReactNative.a

[2017-03-14 08:59] jozan commented on #78
I debugged this a bit and seems like `lottie-react-native` is somehow bugged. It doesn't pass correct JSON data to `lottie-android` which results `jsonLayers` always to be `null`.

![image](https://cloud.githubusercontent.com/assets/388265/23892633/15f55c8a-08a4-11e7-8859-3de20d3840dc.png)

As you can see in the screenshot, `jsonLayers` is `null`. You can also see method argument `json` is `Readab

[2017-03-14 14:17] leesolway commented on #59
I had both of these, but was still getting a blank image where the animation should have been.

[2017-03-14 18:47] joypatel04 commented on #89
I have been facing this problem from a week. @g3r4n  I want to integrate library into my project i check the above example and it's working well but when i am installing lottie-react-native and perform necessary steps it works well but on our CI it throws and error linker comment failed.

[2017-03-14 18:50] joypatel04 commented on #82
@g3r4n Can you please explain your setup steps? It would be helpful to all of us who is not using CocoaPods.

[2017-03-14 19:05] gschattenhofer commented on #89
I've manage to solve my problem. On the PR that @g3r4n posted above tells you how to manually link lottie-ios on xCode. I've checked the project he also sent, react-native-lottie-example and realize that you also have to manually link lottie-react-native: On right-click on Libraries, "Add files to...", select the xcode project file inside lottie-react-native on your node_modules. After that on "Li

[2017-03-14 19:20] joypatel04 commented on #89
@gschattenhofer It's working on my local Machine but it's failing on Team City Continuos integration

[12:15:12][Ld] ld: library not found for -lLottieReactNative
[12:15:12][Ld] clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2017-03-14 19:23] gschattenhofer commented on #89
I'm unexperienced with that. Sorry i can't help you.

[2017-03-14 19:25] panunu commented on #78
Ok, seems like `<Animation source={require(...)} />` is bugged when bumping the version manually.

So `<Animation source="asset-filename.json" />` works in `lottie-react-native` when using `compile 'com.airbnb.android:lottie:1.5.3'` (tested *only* in Android, dunno about iOS).

[2017-03-14 19:29] joypatel04 commented on #89
I did all the steps @g3r4n explained and it's working on simulator but when i commit it and it goes to CI Server it's failing with above ld: library not found for -lLottieReactNative/linker command failed

Embedded Library
-------------------
<img width="539" alt="screen shot 2017-03-14 at 12 22 38 pm" src="https://cloud.githubusercontent.com/assets/18585502/23918652/11f2ef0a-08b1-11e7-95c3-837db1

[2017-03-14 20:03] joypatel04 commented on #89
@lelandrichardson Do you have any idea that why it's failing on CI and not failing on Local Dev Machine?

[2017-03-14 21:11] joypatel04 commented on #89
Looks like issue was regarding Schemes that i have so i figured nothing wrong with @g3r4n Setup step that's how it suppose to be. And even if any one seen error regarding libLottieReactNative not found something just remove it from Link Framework and Library and add again.

[2017-03-15 05:35] jiangqqlmj opened #90 "This is a very good project~"
This is a very good project~

[2017-03-15 08:08] g3r4n commented on #82
@joypatel04 see PR #86

[2017-03-15 08:10] g3r4n commented on #59
@leesolway Can you confirm that LibLottie.a isn't linked ? Can you provide a screenshot of your Embedded binary and Link Frameworks and LIbrary ?

[2017-03-15 12:00] g3r4n commented on #89
@joypatel04

[2017-03-15 16:34] panunu commented on #78
@jdpigeon did you have your JSON file in `app/src/main/assets/` folder?

[2017-03-15 17:22] Kowaio commented on #49
Hi guys,

Sorry to bother you again with this but I can't find a way to build my project using lottie-react-native in Release. When trying to build and deploy my app on Testflight using fastlane, I've got the following message: `node_modules/lottie-react-native/lib/ios/LottieReactNative/LRNContainerView.h:19:9: 'Lottie/Lottie.h' file not found`

In debug and simulator, everything is working proper

[2017-03-15 17:38] RakanNimer commented on #90
Thanks to the maintainers !

[2017-03-15 18:25] jdpigeon commented on #78
Of course! Moved my jsons there and It works now

I guess your workaround sneakily avoids `lottie-react-native` processing the JSON before it gets to the android library. It definitely makes sense in that case to store the app in the Android source.

Hopefully we've identified some issues that can be fixed for everybody in an upcoming update :slightly_smiling_face:

[2017-03-15 19:42] watadarkstar commented on #61
Bump! Anyone fix this issue? I can't use the imperative API.

[2017-03-16 09:46] Kowaio commented on #59
Hi guys,

Posting here because I've got a similar problem. I succeeded to make lottie work on my RN project using Lottie 1.0.6 and RN 0.39 on iOS in debug. I removed`libLottie.a` as said above from the linked frameworks and libraries and it's building well on the simulator and animations correctly appear.

However, when using fastlane to generate an .ipa to deploy on Testflight for my team, the bu

[2017-03-16 10:24] g3r4n commented on #59
@Kowaio seems like you don't have link the Lottie.Framework. Can you provide a screenshot of your Embedded binary and Link Frameworks and LIbrary ?

[2017-03-16 10:44] g3r4n commented on #59
@Kowaio can't help sorry. Maybe see [this comment](https://github.com/airbnb/lottie-react-native/issues/89#issuecomment-286562123).
Open a proper issue to get more accurate help.

[2017-03-16 12:29] Kowaio opened #91 "Build fails on release (iOS)"
Hi guys,

Posting here because I've got a similar problem. I succeeded to make lottie work on my RN project using Lottie 1.0.6 and RN 0.39 on iOS in debug. I removed `libLottie.a` as said on ticket #59 from the linked frameworks and libraries and it's building well on the simulator and animations correctly appear.

However, when using fastlane to generate an .ipa to deploy on Testflight for my tea

[2017-03-16 12:31] leesolway commented on #59
![screen shot 2017-03-16 at 12 29 57](https://cloud.githubusercontent.com/assets/2929803/23996185/6afeef9c-0a44-11e7-9f6e-e80dbd6dcd7d.png)

@g3r4n

As requested

[2017-03-16 17:11] jdpigeon commented on #78
Note: image support through `lottie-react-native` with this workaround is probably still impossible because it's impossible to call the `setImageAssetsFolder` function that the android library requires.

[2017-03-17 02:08] Wheat-Qin commented on #79
you can try it :
Open Build Settings(TARGETS -> Build Settings ), search "Info.plist Preprocessor Prefix File",add value "XXX/environment_preprocess".

"XXX" is your  app folder named. Exapmle if your app folder named "ObjcDemo" the value text must be "ObjcDemo/environment_preprocess".
hope it helps you out.

[2017-03-17 08:22] nehvaleem opened #92 "App crashes everytime when trying to display lottie animation"
Hi,
I am facing a strange issue. My application crashes everytime when I try to display lottie animation. It works fine on iOS but on Android it fails. I've had some troubles before I could even compile it correctly because I was using `compilesdk 23` and it turns out it has to be at least 24. Idk if it applies to buld tools or support library (I've testes with compilesdk 24, build tools 24.0.1 an

[2017-03-17 19:31] nehvaleem commented on #92
uh... um well...

It was totally all my fault. I've misunderstood whole thing and i've installed both lottie for android/ios and then lottie-react-native (as it supposed to be only the wrapper). This was cause of my problems. When I reverted changes and installed only lottie-react-native it started to work just fine :)

[2017-03-17 19:31] #92 closed

[2017-03-19 14:53] vijayperlakota commented on #38
Changing 'protected' to 'public' works. 💯

[2017-03-20 02:58] gpeal commented on #70
@ryanflorence Fyi, Gears and many other animations from lottiefiles works on Android now.

[2017-03-23 11:01] Olical commented on #9
It's not much, but here's a very simple wrapper I created, [react-bodymovin](https://github.com/QubitProducts/react-bodymovin). I'm sure more requirements and ideas / features will pour in if a few people start using it. Right now it'll just embed an animation with some options as SVG or HTML. Haven't thought about runtime methods and canvas just yet, but easy enough to do.

[2017-03-23 19:20] AWrightIV opened #94 "Feature request: Play in reverse"
The [API](https://github.com/airbnb/lottie-react-native/blob/master/docs/api.md) does not yet include an option to play in reverse. This would enable reuse of animations instead of being required to export a reversed version of the same animation through Bodymovin.

[2017-03-23 20:22] jozan commented on #94
You can play it reversed by animating the progress value to go from `1` to `0`.

[code]

[2017-03-24 06:38] xhuang3 opened #95 "How can I create a JSON that works with android"
I use bodymovin export an animation from AE, but for some reason this JSON doesn't work with android (I can see some flashing but not the whole animation). But if I replace the JSON with one from the example folder, it works really well. So I wonder what is the difference between the one I made and the one from the example folder? Is there option I need to choose in AE?

Here is the versions I use

[2017-03-25 16:04] therealsalih commented on #95
@xhuang3 can you attach your AE file?

[2017-03-25 22:37] lelandrichardson commented on #88
@fdnhkj what lottie supports is a function of the ios and android projects, not this one. As a result, I think those projects are the right "sources of truth" for this information.  I think it's a good idea to add a link to these in the documentation though, and will do that...

[2017-03-25 22:40] #88 closed

[2017-03-25 22:43] lelandrichardson commented on #95
cc @gpeal this might be fixed now in the newer lottie android versions. I'll be releasing an update shortly. Hopefully that will fix your problem!

[2017-03-25 22:45] lelandrichardson commented on #90
Thank you for your kind words!  I'm working on triaging issues for this project right now and am going to close this now :)

[2017-03-25 22:45] #90 closed

[2017-03-25 23:18] fdnhkj commented on #88
Great, thank you!

[2017-03-26 00:56] lelandrichardson commented on #13
Closing. NPM is behaving as expected. react-native and react are peer dependencies.

[2017-03-26 00:56] #13 closed

[2017-03-26 01:00] #44 closed

[2017-03-26 01:00] #64 closed

[2017-03-26 01:00] #67 closed

[2017-03-26 01:00] #78 closed

[2017-03-26 01:00] #79 closed

[2017-03-26 01:43] #66 closed

[2017-03-26 19:15] mini-eggs commented on #82
@g3r4n thanks for the example, appreciate it v much

[2017-03-28 02:21] sean-johnson commented on #95
Any updates on this? I am having the exact same issue, same specs also

[2017-03-28 16:39] lelandrichardson commented on #95
@sean-johnson now that https://github.com/airbnb/lottie-ios/pull/191 is merged, I should be able to publish a release. Will try to do so some time today!

[2017-03-28 17:37] aaronsky opened #101 "1.1.0?"
I can observe the v1.1.0 commit in the log, but there is no new release for the recent changes. Was this intentional, and if so, does a contributor have any idea as to the timeline for a new release?

(cc: @lelandrichardson)

[2017-03-28 20:39] lelandrichardson commented on #101
@aaronsky 1.1.0 was released with the `@next` tag to prevent people from using it until it's stable. There are still a couple of kinks to work out. Will hopefully be able to publish as `@latest` tonight or tomorrow. Sorry for the wait!

[2017-03-28 20:39] #101 closed

[2017-03-29 01:06] lelandrichardson commented on #91
@Kowaio I believe this should now be fixed in `lottie-react-native@1.1.1`. Please try it out and let me know if you still have trouble. Closing this issue for now. Thanks!

[2017-03-29 01:06] #91 closed

[2017-03-29 01:07] lelandrichardson commented on #89
I believe this should now be fixed in `lottie-react-native@1.1.1`. Please try it out and let me know if you still have trouble. Closing this issue for now. Thanks!

[2017-03-29 01:07] #89 closed

[2017-03-29 01:07] lelandrichardson commented on #83
I believe this should now be fixed in `lottie-react-native@1.1.1`. Please try it out and let me know if you still have trouble. Closing this issue for now. Thanks!

[2017-03-29 01:07] #83 closed

[2017-03-29 01:07] lelandrichardson commented on #59
I believe this should now be fixed in `lottie-react-native@1.1.1`. Please try it out and let me know if you still have trouble. Closing this issue for now. Thanks!

[2017-03-29 01:07] #59 closed

[2017-03-29 01:08] lelandrichardson commented on #43
I believe this should now be fixed. Please try it out and let me know if you still have trouble. Closing this issue for now. Thanks!

[2017-03-29 01:08] #43 closed

[2017-03-29 01:08] lelandrichardson commented on #33
I believe this should now be fixed in `lottie-react-native@1.1.1`. Please try it out and let me know if you still have trouble. Closing this issue for now. Thanks!

[2017-03-29 01:08] #33 closed

[2017-03-29 01:09] lelandrichardson commented on #95
@sean-johnson just published 1.1.1! Please try it out and let me know if it's fixed. I will close this issue for now.

[2017-03-29 01:09] #95 closed

[2017-03-29 01:09] lelandrichardson commented on #65
I believe this should now be fixed in `lottie-react-native@1.1.1`. Please try it out and let me know if you still have trouble. Closing this issue for now. Thanks!

[2017-03-29 01:09] #65 closed

[2017-03-29 01:10] lelandrichardson commented on #70
@ryanflorence I believe this should now be fixed in `lottie-react-native@1.1.1`. Please try it out and let me know if you still have trouble. Closing this issue for now. Thanks!

[2017-03-29 01:10] #70 closed

[2017-03-29 06:13] ryanflorence commented on #70
Will do, thanks

[2017-03-29 08:10] DavoCg opened #103 "Build failed on iOS w/ v1.1.1"
Hello,

I have a build fail error using:

lottie-react-native v1.1.1
react-native v0.42.3

I did
``` react-native link lottie-ios```
```react-native link lottie-react-native ```

And i get this error when I try to build

```/node_modules/lottie-react-native/lib/ios/LottieReactNative/LRNContainerView.h:19:9: 'Lottie/Lottie.h' file not found```

Anybody encountered the same issue ?

Thank for your w

[2017-03-29 18:21] mmckinley8 opened #104 "onAnimationComplete() method?"
Wondering if there are any handler methods for animations completing. Am I missing something?

[2017-03-29 18:48] browniefed commented on #104
If you're using `Animated` when you call `Animated.timing().start(() => {//Animation is complete here})

[2017-03-29 18:55] mmckinley8 commented on #104
I tried using `Animated.timing().start(() => {}` but kept getting errors so I opted to use the imperative API. I will move back to using Animated though.

[2017-03-29 19:00] mmckinley8 commented on #104
That worked, thanks @browniefed

[2017-03-29 19:00] #104 closed

[2017-03-30 08:20] carly-lee commented on #103
I had the same issue. In my case, 'Parallelize Build' was checked on Scheme.
After I unchecked it, I was able to build the app with no errors.

![screen shot 2017-03-30 at 5 18 46 pm](https://cloud.githubusercontent.com/assets/6396721/24494401/1022f72e-156d-11e7-8946-5fc695d72b0c.png)

[2017-03-30 10:35] xeroxoid commented on #21
@eneskaya can you please post the whole snippet. I cant seem to figure out how you referenced the animation.

[2017-03-30 10:46] xeroxoid opened #106 "Parent's layout properties not taken into account"
Hi all, first of all great work!

Now I was trying out the library and noticed that the following:

[code]

produces the following:

![screen shot 2017-03-30 at 13 40 05](https://cloud.githubusercontent.com/assets/1199451/24500708/22e3fc28-154f-11e7-8f60-3f806c0b979a.png)

[2017-03-30 12:48] iggyfisk opened #107 "iOS ignores initial progress value"
It seems like the `<Animation>` component always assumes the `progress` property is 0 on mount, but only on iOS. Simple to reproduce: clone the latest 1.1.1 version. Change [line 34](https://github.com/airbnb/lottie-react-native/blob/master/example/LottieAnimatedExample.js#L34) of `example/LottieAnimatedExample.js` to `progress: new Animated.Value(0.5),` which should initialize the animation in "t

[2017-03-30 15:24] fdnhkj commented on #103
I have this error as well when using `release` build configuration (no issue with the `debug` one).

[2017-03-30 22:37] dryganets opened #108 "Could you have a tag for 1.1.1 at least"
Since 1.0.6 you stopped tagging your releases.
While 1.0.6 is not compatible with most of the current android versions as it doesn't override opt methods of the JSONObject in JSONReadableMap class.

[2017-03-31 10:06] Kowaio commented on #59
Hello @lelandrichardson,

Sorry to come back to you only now. I tested with `lottie-react-native@1.1.1` but I've got the same problem while building for release.

Here's a screenshot: http://cl.ly/0s0U1a211f2j

Thanks

[2017-03-31 10:07] Kowaio commented on #91
Hello @lelandrichardson,

As said on #59, sorry for the duplicate answer but I still wanted to comment this thread. I tested with `lottie-react-native@1.1.1` but I've got the same problem while building for release.

Here's a screenshot: http://cl.ly/0s0U1a211f2j

Thanks

[2017-03-31 11:25] frixid opened #109 "use lottie in screen splash"
is possible to use lottie like a screen splash on ios/android?

[2017-03-31 12:02] Kowaio commented on #103
Hello all,
I wanted to let you know that unchecking `Parallelize Build` on my Scheme solved my build issue referenced on #59 and #91. I don't know if that's the best fix but will do for now.

Thanks!

[2017-04-02 03:47] AdityaAgg commented on #82
Removed  LibLottie.a from my dependencies.
Added Lottie.Framework to XCode.
lottie-react-native is linked
logged json and could output all of it.
Animation doesn't appear still. :( Probably doing something silly but any help would really be appreciated!

Here's snippets of my code that'd probably relevant:

`
import ProgressJson from 'lottie-react-native/example/animations/gliaprogress.json'

this

[2017-04-02 04:18] mini-eggs commented on #82
@AdityaAgg

Figured this out for my proj. I'll post a short how-to then update sometime tomorrow with more details.

Removing LibLottie.a from linked iOS dependencies did not working for me. Here's what I did:

1. Follow this repo's guide on installing (react-native link etc)
2. Make your Link Binary With Libraries in xcode look like this (only lottie things are relevant): http://i.imgur.com/83VPl

[2017-04-02 06:14] AdityaAgg commented on #82
@mini-eggs unfortunately your suggestions did not work out for me. But let me know the reason this worked out for you and what you are going to share tomorrow. That may help.

[2017-04-02 17:36] mini-eggs commented on #82
Here's my current environment:
react 15.4.1,
react-native 0.42.3,
yarn 0.21.3

Steps:
1) react-native init Lottie
2) cd Lottie
3) Dragged my previous projects code into this project, with package.json dependencies, etc.
4) yarn
5) yarn add https://github.com/airbnb/lottie-react-native.git
6) yarn add babel-plugin-module-resolver (@g3r4n 's project had this)
7) react-native link lottie-ios
8) react

[2017-04-02 18:03] n8stowell82 commented on #109
I doubt this can ever be supported. You can only display static content in a splash screen. The app is not technically running yet and so no code is being executed.

[2017-04-03 03:04] AdityaAgg commented on #82
@mini-eggs, wish I could tell you your suggestion worked for me but it doesn't. Tried the instructions above. I know that I am reading the file properly so I think there could be an issue with the library that's not resolved or reported.

[2017-04-03 09:18] #109 closed

[2017-04-03 11:59] ricardogo opened #110 "List of supported After Effects features"
Hello,

After some testing with Lottie, we're embarking on using it in production for a new project.
We're wondering if there's a list of supported After Effects features and effects so we can design around that. We already hit a couple of walls we'll have to design around, but making sure there are no hidden things we haven't anticipated.
I think this will be super useful for the community.

Than

[2017-04-03 12:04] fdnhkj commented on #110
You can have a look at this issue: https://github.com/airbnb/lottie-react-native/issues/88

[2017-04-03 13:13] ricardogo commented on #110
Hi @fdnhkj, thank you!

[2017-04-03 13:13] #110 closed

[2017-04-03 15:50] fangkyi02 opened #111 "React native image can not show that there is no replacement program"
In react native can no longer use variables in the require to introduce elements
But since you are useful to the original part of the voice, then why not use the original sound to achieve this part of the picture?
So there will be no show

---Baidu translate---

[2017-04-03 17:55] aaronsky commented on #108
The rationale I was given in #101 was that these were pre-releases, but tags to reflect that would be nice

[2017-04-04 12:56] eneskaya commented on #21
@xeroxoid what do you mean, how I initialized the animation? (sorry for late reply)

[2017-04-05 13:14] jkdrangel commented on #83
I did have the same problem using `lottie-react-native@1.1.1` today

[2017-04-06 00:11] GeoffreyPlitt opened #112 "Depends on 25.0.2? Can't get past licensing error"
Which of these packages are required for Lottie to work? https://gist.github.com/GeoffreyPlitt/3e793985bf588f0fdb1b05559d0d70b1

We did ```sdkmanager 'build-tools;25.0.2'``` and ```sdkmanager --licenses``` and still get this error when we run our app with Lottie (latest):

[code]

[2017-04-06 15:52] zachrnolan commented on #112
I'm experiencing the same issue, does anyone have a fix for this?

[2017-04-06 17:40] GeoffreyPlitt commented on #112
Finally figured it out. The "sdkmanager" command was executing from the wrong path. When I used a full path (```$ANDROID_HOME/tools/bin/sdkmanager```) everything worked. Very annoying.

[2017-04-06 17:40] #112 closed

[2017-04-07 15:00] Jpunt opened #113 "Incompatible block pointer"
After installing/linking/cleaning/building version 1.1.1, I get these build errors:

[code]

[code]

![screen shot 2017-04-07 at 16 59 33](https://cloud.githubusercontent.com/assets/190501/24805968/9d5d4f30-1bb3-11e7-97bd-68841f892421.png)

[2017-04-07 17:31] gschattenhofer commented on #49
I have the same issue still. Can we reopen this?

[2017-04-08 14:14] PimDeWitte commented on #65
I solved this by going in "project.pbxproj" and removing any references to modules I no longer use. In my case, it was libSplashScreen.a references that were interfering with libRCTSplashScreen.a resources from @remobile/react-native-splashscreen

[2017-04-10 20:55] kyleleite opened #114 "Animation not showing up on device iOS"
I cant get the animation to show up on my device, I'm not getting any errors but just a blank screen. When opening the inspector on my device (iphone 6) I can see that there are 2 animations but nothing is displaying.

Don't know what i'm doing wrong!

attaching my code and screenshots from device. Any help would be great!

![screenshot_3](https://cloud.githubusercontent.com/assets/17218896/248820

[2017-04-11 02:40] janicduplessis commented on #27
Updated to the latest version and the bug doesn't happen anymore.

[2017-04-11 02:40] #27 closed

[2017-04-11 12:40] vokhuyet opened #115 "provided dependencies can only be jar"
i had this issue when try build in android
please reply me with any solutions.
Thank you very much.
<img width="687" alt="screen shot 2017-04-11 at 19 39 03" src="https://cloud.githubusercontent.com/assets/16424696/24909558/9e3eb45a-1eee-11e7-9c0c-65816e836c56.png">

[2017-04-12 16:21] tech-know commented on #103
Hey guys @carly-lee's solution work for me.

[2017-04-12 19:53] jcharbo opened #117 "animation freezes on android"
Hi, I'm using version 1.1.1 and it's working great on ios but on android the animation freezes any time it scrolls out of view and then back into view.  I'm using the imperative api and running a loop.  Has anyone else experienced this?
thanks

[2017-04-13 06:29] vokhuyet commented on #117
hello jcharbo, could you tell me how to install lottie-react-native in android. i can't build it on android
thanks :)

[2017-04-13 06:42] vokhuyet commented on #52
@minhtc , could you tell me how to install lottie-react-native on android? i am trying with document but it have a issue "provided dependencies can only be jars. com.facebook.re
act:react-native:aar:0.42.0 is an Android Library"
thannks :)

[2017-04-13 06:52] minhtc commented on #52
@vokhuyet
Go to android/app/build.gradle, find the compileSdkVersion option inside of the android block and change it from 23 to 25

[2017-04-13 06:54] vokhuyet commented on #52
@minhtc e làm thế rồi anh. cơ mà nó vẫn báo lỗi đó. e không hiểu sao lại thế(e viết tiếng việt được chứ ạ)

[2017-04-13 07:04] minhtc commented on #52
@vokhuyet:
check this file: https://github.com/airbnb/lottie-react-native/blob/master/lib/android/build.gradle

change from:
provided "com.facebook.react:react-native:+"
to:
compile "com.facebook.react:react-native:+"

[2017-04-13 07:05] vokhuyet commented on #52
@minhtc thank you very much. i will try :))

[2017-04-13 07:58] vokhuyet commented on #52
@minhtc  thank you very much , it work

[2017-04-13 13:49] jcharbo commented on #117
@vokhuyet The installation instructions worked for me.  Did you remember to change your android sdk version?  What error are you getting?

[2017-04-14 01:49] vokhuyet commented on #117
@jcharbo  i have been changed sdk version from 23 to 25.
now i can fix it by change provided to compile at file setting.gradle in node_module :)

[2017-04-15 18:59] dioxide commented on #62
+1 , same problem.

[2017-04-20 10:44] johnnycopperstone commented on #114
Experiencing the same issue, have you made any progress with this?

[2017-04-20 10:52] johnnycopperstone commented on #114
This worked for me actually https://github.com/airbnb/lottie-react-native/issues/82#issuecomment-290963691

[2017-04-20 17:22] saddacracker commented on #21
Echoing @xeroxoid. I get a reference error when I use the imperative API.

`undefined is not an object (evaluating 'this.animation.start')`

[2017-04-21 10:53] lukaleli opened #118 "Crashing on Android: TypeError: expected dynamic type `int64', but had type `double'"
I'm successfully running lottie on iOS but have problems with it on Android. App crashes just on the start when I try to show an animation. Stacktrace from the logcat:

[code]

Package.json
[code]

Gradle configuration:
[code]

[2017-04-21 13:47] NicolasBonduel commented on #118
I had the same issue but managed to fix it by manually changing the "fr" value to an int inside the JSON file.
I changed `"fr":29.9700012207031` to `"fr":29` in my case.

[2017-04-21 13:56] NicolasBonduel opened #120 "Animation not showing up."
I build an Animation with After Effect and am trying to render it in my react-native app.

It doesn't crash or anything, but the screen stays black. I also had to manually edit the JSON file to fix this issue: https://github.com/airbnb/lottie-react-native/issues/118
The example animations are working fine, so I don't think it can be an implementation issue. Also, the files are loading properly on

[2017-04-21 14:29] lukaleli commented on #118
@NicolasBonduel actually this hack worked out. thanks a lot for a suggestion!
but animation is still not showing up on android whereas it works perfectly on iOS... does it require another hack to make it working?

[2017-04-21 15:46] jdpigeon commented on #118
I've noticed this error as well and am currently working around it by loading assets through the android src instead of the js src (See this thread https://github.com/airbnb/lottie-react-native/issues/78)

As for @NicolasBonduel's suggestion, I tried that as well and, although it avoided the crash, noticed that it didn't allow animations to run properly

[2017-04-23 15:51] NicolasBonduel commented on #118
My guess is that we're trying to generate the animations with a version of the bodymovin plugin that is not yet supported by Lottie. I will try to work around that by using a previous version.

[2017-04-24 11:33] NicolasBonduel commented on #118
I actually fixed it by doing like @jdpigeon does here:
https://github.com/airbnb/lottie-react-native/issues/78

[2017-04-24 14:46] oltodo commented on #120
Should your animation look like to this?

![avr -24-2017 16-42-54](https://cloud.githubusercontent.com/assets/483842/25342743/33e2b146-290d-11e7-8a9e-f2b837f16188.gif)

[2017-04-24 14:48] NicolasBonduel commented on #120
Yes, I got it to work following this: https://github.com/airbnb/lottie-react-native/issues/78#issuecomment-286532808

It is rendered properly now.

[2017-04-24 14:58] oltodo commented on #120
Ok nice!

Weird, I don't have this constraint. I can import my animation from anywhere and play it with the `Animation` component.

[code]

[2017-04-24 15:03] NicolasBonduel commented on #120
ohhhh, I was importing it with require(), is it in any way different?

[code]

[2017-04-24 16:12] lukaleli commented on #118
Yeah, I did that too. It works but it's just a workaround that results in keeping duplicated assets in two places. Not pretty.

[2017-04-24 23:30] jongmin92 opened #121 "Import AI file into After Effects"
I'm using lottie-react-native: **1.0.6**
**I make a shape with an illustrator and then Import AI file into After Effects and “Create Shapes from Vector Layer”**
The result looks like this:
How can I fix it if it does not come out as intended?

![image](https://cloud.githubusercontent.com/assets/15906302/25362803/314a1aee-2991-11e7-8a36-f80e10b4b855.png)

[failed.aep.zip](https://github.com/airbnb/

[2017-04-25 07:03] ochanje210 commented on #106
having same issue here.

[2017-04-25 09:05] NicolasBonduel commented on #118
It's definitely a hack, until Lottie is updated.

[2017-04-25 10:48] ragnorc opened #122 "Setting initial progress only works asynchronously"
When setting the progress prop of the animation to 1 the animation does not show up.
It only works using an async function such as setTimeout in componentWillMount().

[code]

Related: [https://github.com/airbnb/lottie-ios/pull/91](https://github.com/airbnb/lottie-ios/pull/91)
               [https://github.com/airbnb/lottie-ios/issues/56](https://github.com/airbnb/lottie-ios/issues/56)

[2017-04-25 15:25] weswes opened #123 "Animation is not displayed into <MapView.Marker> custom view"
I want to use a lottie animation into a Map Marker (https://github.com/airbnb/react-native-maps) custom view, but it's not working on Android (it's ok with iOS).
I use a sample animation provided to test it (HamburgerArrow.json).

CustomMarker:

[code]

Animation into CustomMarker working with this simple view (Android ok, iOS ok)

[code]
Result:
![screenshot_1493133386](https://cloud.githubuserco

[2017-04-26 07:35] jksyrek opened #124 "Error while linking"
I try to implement lib in my project using official installation guide.

When I try to link library with `react-native link lottie-react-native`, I get an error
[code]

I use:
- "react": "16.0.0-alpha.6"
- "react-native": "0.43.4"
- "lottie-react-native": "^1.1.1"

[2017-04-26 17:32] mmckinley8 opened #125 "Cannot trigger animation on iOS device"
[code]

This snippet behaves great on the simulator but I can only get the animation to trigger once (if lucky) on physical device. Has anyone seen this issue?

[2017-04-27 06:15] chenqingspring commented on #9
I moved [ng-lottie](https://github.com/chenqingspring/ng-lottie) to [react-lottie](https://github.com/chenqingspring/react-lottie), hope this may match your requirements. [Demo](https://chenqingspring.github.io/react-lottie/iframe.html)

[2017-04-27 10:30] DavidKuennen commented on #120
Having the same problem on android.

[2017-04-27 13:15] Vasiliev90 commented on #106
+1

[2017-04-27 13:32] Vasiliev90 commented on #106
found a solution:  to wrap animation in View with the same width and height and align it, not Animation

[2017-04-27 16:53] mmckinley8 commented on #125
resolved this issue by removing absolute positioning

[2017-04-27 16:53] #125 closed

[2017-04-28 02:53] boiawang opened #126 "Running npm start error"
TypeError: Cannot read property 'on' of undefined.

![image](https://cloud.githubusercontent.com/assets/6340730/25512542/2c01df3c-2c01-11e7-8adb-0b858502c23f.png)

[2017-04-28 04:56] therealsalih commented on #121
@jongmin92 Not everything that works in illustrator will import as a shape layer in after effects. Things like pattern fills and some gradients and a bunch of other stuff just don't get converted. Best thing to try is to re-build whatever is missing in After Effects itself

[2017-04-28 10:34] Vasiliev90 commented on #91
+1

[2017-04-28 11:03] jksyrek commented on #124
After some more research I get some conclusions.

In the file `myapp/ios/myapp.xcodeproj/project.pbxproj` in the section `XCBuildConfiguration` we have a line `HEADER_SEARCH_PATHS`.

Its initial state is:
[code]

After executing `react-native link lottie-ios` it is changed to:
[code]

At this point, when I'm trying to execute `react-native link lottie-react-native` I get an error:
[code]

I don't

[2017-04-28 12:10] lyw0149 commented on #91
@Kowaio I am using fastlane too, and I have same problem.

[2017-04-28 13:17] Kowaio commented on #91
Hi @lyw0149,
Check #103 answer, using `Parallelize Build` did the trick for me.

[2017-04-28 13:37] yqbk commented on #124
I have found an issue.

The problem was in the line
[code]

When I changed it to:
[code]

Everything started working correctly **without** linking manually in xcode.

So in my case the main problem was with going to the correct directory from the current path.

I think this solution could be connected with #82

[2017-04-30 17:12] BenPader commented on #120
Having the same problem too, i fixed the frame rate in the JSON, but now it is showing a black screen without anything, and without errors

[2017-04-30 17:26] BenPader commented on #120
Guys ! i found a workaround !
for lottie-react-native, it is possible that the JSON contains "mistakes".
when you export your animation with bodymovin in After Effects, you have to check your json to be sure it always have a "right" number for the framerate and for the "op" section. (not sure of what it is)

For example, if your JSON contains a 29.97 value, you should replace it with "29" or "30".

[2017-05-01 13:38] galkahana opened #127 "Error building 1.1.1 on IOS"
Hi,
I Can't build lottie-react-native@1.1.1 on IOS.
Got React-Native 0.44, followed instructions with Podfile.

lottie-react-native fails to build with:

[code]

and

[code]

Seems like `#import <React/***>` doesn't work (lottie imports are falling back on `#import <***>`
but then React Native internally fails. at least it seems so.

help ?

[2017-05-02 12:12] mesbahsabur commented on #106
+1

@Vasiliev90  nice workaround!

Btw, I suggest an [iOS] label here, this issue does not effect Android.

[2017-05-03 17:48] galkahana commented on #127
Managed to resolve this by reverting the ios project changes that were introduced as a result of `react-native link lottie-react-native`. Given that i have it available as a pod, there's no need for them, and they are the cause of strife.

thanks!

[2017-05-03 17:48] #127 closed

[2017-05-03 22:51] arush commented on #62
+1

[2017-05-04 02:59] watert commented on #9
@chenqingspring Same react props / methods for web would be better.

[2017-05-04 03:09] chenqingspring commented on #9
@watert Thanks for your suggestion. I'll continuous improve it.

[2017-05-05 13:21] thotegowda opened #128 "Rendering issues due to ReadbleMap to JSONObject conversion"
One of our AfterEffect json file was working fine in lottie-android. But started rendering badly after moving to lottie-react-native.

Put the same json file in to both example apps and observed the same results.

After spending some time in code, figured out the problem. The problem is `JSONReadableMap.java` is converting ReadableMap's `Number` type to `Integer` instead of `Double`.

Couldn't jus

[2017-05-06 10:03] moritzschaefer commented on #123
I observe the same issue with Android and th AnimatedViews example (https://github.com/airbnb/react-native-maps/tree/master/example/examples)

[2017-05-07 05:35] thotegowda commented on #128
Main reason `Object opt(name)` method.

[code]
Got animation working fine by changing the default type to double.

[code]

Raised a [PR](https://github.com/airbnb/lottie-react-native/pull/129) for this

[2017-05-08 04:45] gpeal commented on #121
@jongmin92 Also, the slightly off rendering is probably due to https://github.com/airbnb/lottie-react-native/issues/128 and will be fixed very soon.

[2017-05-08 04:45] #121 closed

[2017-05-08 04:46] gpeal commented on #120
That issue is caused by this: https://github.com/airbnb/lottie-react-native/issues/128 and will be fixed soon.

[2017-05-08 04:46] #120 closed

[2017-05-08 04:47] gpeal commented on #117
@jcharbo Can you attach the ae file of the animation that freezes?

[2017-05-08 04:47] #111 closed

[2017-05-08 04:49] #82 closed

[2017-05-08 04:49] #72 closed

[2017-05-08 04:49] #48 closed

[2017-05-09 13:48] brianliebler opened #130 "Merged shapes not showing up on iOS using React Native"
We are using React Native for iOS and the animated icon only shows as a square and is missing the three triangles. Is this the Merged Path issue on iOS? If so, when do you expect it to be supported and is there a work around? Thanks!

[2017-05-10 14:12] tomauty commented on #124
That worked for me, too. Note that some pbxproj files (mine...) have to be changed in multiple places.

[2017-05-11 09:38] motiazu opened #131 "[Android] Animation would not play when starting off screen in ListView"
I have an animation that appears in the bottom of my ListView and calls `play` on mount with loop=true. If the initial render is out of screen, the animation will just freeze on the first frame and never play even though `play` was called.

I looked at the play method in the native code and found that because `ViewCompat.isAttachedToWindow(view)` in `LottieAnimationViewManager.java` evaluates to `

[2017-05-11 09:38] bkhurjawal commented on #38
Changing private to public saved my life. Thank you guys, I don't know java I am working in react native!

[2017-05-11 11:00] WeeTom commented on #49
You guys must have missed this step

"After this, open the Xcode project configuration and add the Lottie.framework as Embedded Binaries."

The steps in the readme is easily to miss this step, because the next two steps are "If you use cocoapods", people using npm -i would carelessly miss the embedded binaries step!

@Kowaio @gschattenhofer

[2017-05-11 14:16] jcbiznoff commented on #83
I ran into the same issue here and i found a work around below. Just for context i'm using a hybrid app (react + android) with other RN modules and react native v0.42. A doc on this would really help devs like me.

1. include modules under the settings.gradle file and resync.
[code]

2. Override the react native host with LottiePackage in the activity where RN is initialized.
[code]

[2017-05-17 08:38] ChrnoLynch commented on #83
Don't forget write the import line or will not compile.

`import com.airbnb.android.react.lottie.LottiePackage;`

[2017-05-17 16:00] weswes commented on #123
Found in Readme:

[2017-05-20 21:19] gpeal commented on #130
Fill types are not yet supported in iOS. You can track the progress here: https://github.com/airbnb/lottie-ios/issues/43

[2017-05-20 21:19] #130 closed

[2017-05-23 13:38] ranjithnori opened #133 "FPS seems to drop a lot while displaying multiple instances of an animation"
We are facing huge FPS drops when we display multiple instances of a lottie animation.

To replicate this, try to display 6-7 instances of the following animation, you can see that FPS drops to around 4-5 on both JS and UI threads.
Animation file: https://www.lottiefiles.com/236-accept-arrows

Are we missing something here ? What can be done to prevent this ?

Thanks in advance

[2017-05-25 09:36] ahanriat commented on #80
Any update on this ? :)

[2017-05-25 12:33] simonmitchell commented on #122
Did you have any luck with this @ragnorc? It seems like they've fixed it in the Lottie library, but it's still broken for me in lottie-react-native

[2017-05-26 02:59] cinder92 opened #135 "styling not working properly"
Hello i just installed succesfully this awesome package, but i want to make the animation bigger, but instead, only the wrapper is making big, like the current image.

![captura de pantalla 2017-05-25 a la s 21 58 45](https://cloud.githubusercontent.com/assets/4725556/26478957/8c85b8c0-4195-11e7-8351-07fe4b894539.png)

how can i fix this issue?

[code]

[2017-05-26 03:34] cinder92 commented on #106
same issue here! is related to mine! #135

[2017-05-26 03:35] cinder92 commented on #106
@mesbahsabur same issue is happening on android, son both labels please

[2017-05-26 03:53] cinder92 commented on #106
we can use a transform styling, but seems to be pixelated :(

[2017-05-26 10:04] simonmitchell commented on #122
See PR here: https://github.com/airbnb/lottie-ios/pull/245

[2017-05-30 08:39] LukasKnuthImagineOn opened #136 "Warning and nothing renders if the `style`-prop is omitted"
Despite the [Documentation](https://github.com/airbnb/lottie-react-native/blob/master/docs/api.md) saying otherwise, the `style`-prop seems to be required, because if I leave it out, I get this error:

![lottie-error](https://cloud.githubusercontent.com/assets/22296305/26573846/8259322c-451f-11e7-9238-171bb1c48dfe.PNG)

This can be tested with the example from the Readme, just remove the prop.

*

[2017-05-30 12:35] mistenkt opened #137 "Animation file crashes Android but works on iOS"
This is the error i get when trying to access the view in android that has the animation
`05-30 14:31:18.358 28244-28275/com.momentiumapp E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #2
                                                                  Process: com.momentiumapp, PID: 28244
                                                                  java.lang.RuntimeException: An error occurre

[2017-05-31 13:09] kiwipxl commented on #137
Seems to be happening for me too. Note that the animation works fine in bodymovin, just not lottie react-native on android.

[2017-06-01 10:58] kiwipxl commented on #137
Apologies for hijacking this issue, but I've found the cause of my problem. Apparently frame rate and "op" can only be parsed as an integer and will crash if it's a number.
`"fr": 29.9700012207031,
  "ip": 0,
  "op": 120.0000048877,`
Using the following values above (or, really any number) will cause the same crash OP is getting (I don't see any other errors on logcat either).

As for OP, using yo

[2017-06-02 06:45] LukasKnuthImagineOn commented on #117
@gpeal I have the same Problem. I use a loading-animation as the header in a `ListView`. If the list is populated and the user scrolls the header out of view and back into view, the animation is stopped.

Unfortunately, I can't share the animation. I'll check if I can reproduce it with a publicly available one.

[2017-06-02 10:33] AlexDM0 opened #138 "ios Individual animations not successfully reproduced"
Hi, I tried using a simple animation of our logo with lottie. It consists of scale, rotation and position animations of two items. These items (ball and bar) are duplicated five times in precompositions.

The expected result (using the bodymovin demo export)
https://cdn.rawgit.com/crownstone/CrownstoneApp/lottie/js/animations/demo.html

What I see (simulator and device)
https://github.com/crownsto

[2017-06-02 16:30] henrikra commented on #106
@Vasiliev90 This indeed works! I think this should be added to the README. Or even better make it so that `Animation` always renders `View`

[2017-06-02 16:40] henrikra commented on #61
I noticed this same exact thing! Hope they will fix it since imperative API is way worse :/

[2017-06-02 17:20] gpeal commented on #117
@LukasKnuthImagineOn can you attach a sample project that repros this?

[2017-06-02 20:59] tehfailsafe commented on #137
This is happening for me as well. Latest Lottie, RN, and everything freshly installed yesterday. My body movin json export has `"fr":29.9700012207031,"ip":0,"op":101.000004113814,` and the project crashes as soon as it tries to play the animation.

Changing to `"fr":30,"ip":0,"op":101,` and everything works smooth.

[2017-06-03 18:20] sospedra opened #139 "Testing suite setup"
I'm using `jest` as test runner so I notice that lottie-react-native isn't transpiled; which is more or less normal. The solution that I found is to tell `jest` to transform this package along with `react-native`, `jest` and your source code.

At `package.json` the `jest` config:
[code]

Tho, do you think `lottie-react-native` shall be distributed transpiled?

[2017-06-03 19:20] ragnorc commented on #122
@simonmitchell No luck yet. Still waiting for them to fix it in RN as well.

[2017-06-03 19:22] simonmitchell commented on #122
I've submitted a PR to fix it which you can see above :) if you want to give our fork a go, let me know if it works okay for you!

[2017-06-03 19:23] ragnorc commented on #122
@simonmitchell  Awesome!

[2017-06-03 20:58] varunrau commented on #62
did you add the images to the project?

[2017-06-07 20:56] paulief commented on #49
@WeeTom I've done that step and still have the issue, so that's not it. This problem seems to happen intermittently. If I quite Xcode and re-open, then clean my build folder, sometimes it will build successfully. Sometimes if I unlink and link again, it will work.

RN - v0.43.3 and Lottie - v1.1.1

[2017-06-08 03:20] WeeTom commented on #49
@paulief look, it's not link a binary but embed one. like this: it's in Project -> General -> Embedded Binaries
![image](https://user-images.githubusercontent.com/1827137/26910874-32fcfdf2-4c3c-11e7-9a76-1d8ff1dbcdc4.png)

[2017-06-12 15:26] sospedra commented on #33
Having the same issue with `lottie` 1.1.1

I already run `react-native link lottie-ios` and `react-native link lottie-react-native`
And add the `Lottie.framework` to `Embeded binaries`

Funny thing is that it was working until yesterday :/ After a `link` from another dep it breaks. I returned to master and still broken. Weird thing but maybe is a clue of something that the session keeps corrupted.

[2017-06-13 12:33] AlexDM0 commented on #138
I found the other issue I joined for this over at lottie-ios (https://github.com/airbnb/lottie-ios/issues/225). If this is a different team, my file can be found here if required.
https://www.dropbox.com/s/5sdqkbjugcsegaz/crownstoneLogo.aep?dl=0

Technically I think this issue is a duplicate so you can close if you'd like

[2017-06-13 12:39] thanhtr opened #140 "Animation not running iOS"
Hello,

I am trying to implement Lottie as part of our React Native project. I am able to run jsons from the examples here but not ours. I wonder what's wrong with the json, or something specific has to be done in Lottie.

The animation loaded just simply by:
[code]

Attached is the json I used.

Thank you very much.

[Scan_part_one.json.zip](https://github.com/airbnb/lottie-react-native/files/107

[2017-06-13 13:31] pfulop opened #141 "Animation is different"
For some strange reasons, my actual animation is different from what it is supposed to look like.

this is how it should look like
![kapture 2017-06-13 at 11 17 49](https://user-images.githubusercontent.com/3984319/27084580-b30f8992-504c-11e7-8255-fb57d792bd69.gif)

and this is how it looks like
![kapture 2017-06-13 at 15 23 56](https://user-images.githubusercontent.com/3984319/27084584-b4ff334c-5

[2017-06-15 18:40] buba447 commented on #138
Ahh I see it. The issue is that you are using an expression to animate the bar. Lottie ios and android do not support expressions. A work around is to either animate it using keyframes or you can select the channel with the expression and in the animation menu convert it to keyframes!

[2017-06-15 18:40] #138 closed

[2017-06-19 12:31] yotavm opened #143 "Animation not center correctly"
hey,
i using lottie -v master
and react v0.44.0
when i use the animation component the position is going left and down
but if i use backgroundcolor i see that the real location need to be in the center
i attached image to explain
<img width="344" alt="screen shot 2017-06-19 at 15 18 56" src="https://user-images.githubusercontent.com/11390250/27284935-72fe5214-5503-11e7-9721-4724ae924a7e.png">
this

[2017-06-19 14:24] yotavm opened #144 "Missing dependency target "Lottie_iOS""
i get this when i build from xcode

[2017-06-19 14:36] palmm commented on #143
Hey @yotavm, I ran into a similar issue today. Try wrapping your `Animation` in a `View` with the same width and height.

e.g.
[code]

That workaround should hopefully let you align the animation as you want.

[2017-06-19 15:59] yotavm commented on #143
thanks its working

[2017-06-19 15:59] #143 closed

[2017-06-19 15:59] #144 closed

[2017-06-19 16:03] yotavm opened #145 "json with assets"
When i use json with asset i get:
2017-06-19 18:58:23.108 Oklive[27198:7781275] -[LOTLayerView _setImageForAsset]: Warn: image not found: img_0
the animation working but without the image parts
(v1.1.1)

[2017-06-19 22:04] mientjan commented on #83
please reopen, having this issue on android not on ios

[2017-06-20 18:25] dioxide commented on #145
+1 ,same problem

[2017-06-22 09:33] ShariqMush opened #146 "Unable to run app "incrementalReleaseJavaCompilationSafeguard""
Hello, I have followed all of the basic steps in order to test lottie but whenever I run it I get this exception
[code]
I have searched a lot and didn't come up with any results so I'm posting an issue here.
Here is my code:
**INDEX.ANDROID.JS**
[code]
**and here is my App.js**
[code]

[2017-06-22 11:07] yujintao529 commented on #83
i did have the same problem and 'ottie-react-native' of version is 1.1.1 。what can i do?

[2017-06-22 16:02] sahanay commented on #140
I'm experiencing the same problem. Any help would be appreciated :).

[2017-06-23 13:27] vmktharun commented on #145
Same problem, how to add the folder(of images) to the animations in react native....

[2017-06-23 16:12] PARAGJYOTI opened #147 "example works but not lottie files from 'lottiefiles.com' | Android"
All the 13 examples provided in  lottie-react-native works well , but importing other json files from
lottiefiles.com doesn't work . the App crashes even before not playing the animation .
Any idea how to fix this ? I tried removing the "fr", "ip" but no help.

Edit : Figured out json having doubles values throws exeption . It only works with float numbers, but its impossible to convert every doub

[2017-06-23 22:40] yotavm commented on #145
i find a way

when you look on lottie ios code in [LOTLayerView.m](https://github.com/airbnb/lottie-ios/blob/master/lottie-ios/Classes/AnimatableLayers/LOTLayerView.m):
in the lottie ios repo the function  look like this and
[code]
and in the version i install with react native its look like this

[code]

you can see that in the ios repo they handle folder and in react version just image name
so t

[2017-06-26 16:56] hecomzhangzhiguo commented on #49
Build Phases -> Target Dependencies -> add Lottie_iOS  -> resolved

[2017-06-28 15:17] alexcanessa commented on #80
I think could be linked to #145.

Any updates?

[2017-06-29 09:49] ShariqMush commented on #89
I'm having trouble with doing `react-native-link`, gives me the same error
[code]
I'm developing for Android on Windows. i have tried doing it on several other computers but still the same issue remains.

[2017-07-03 14:36] Herb-Sun opened #148 "this.animation is `undefined`"
When I used Modal containing Animation components
Crash info "this.animation is `undefined` "
[code]

[2017-07-04 06:24] thotegowda opened #149 "cocoapods and npm has different lottie-ios libs with same version number (1.5.2)"
react-native ios app fails to build with cocoapods lottie-ios (1.5.2). But works fine with npm downloaded lottie-ios 1.5.2.

I did check code, some commits are present only in lottie-ios distributed through npm but missing in  the library distributed through cocoapods

[2017-07-04 18:01] yash2code commented on #147
same issue

[2017-07-05 20:38] RyanMitchellWilson commented on #106
Still getting this problem but the workaround is working for now.

[2017-07-06 10:10] SayEason opened #150 "Support for Time-remapping"
Just discovered the Lottie-android has Time-remapping support a few days ago. Don't know when the react-native version can get that, or will it ?

[2017-07-07 02:31] neo125874 commented on #123
@weswes hi, so it means the maps on android would never work with animation, right?  so sad...

[2017-07-07 08:59] weswes commented on #123
Only animation into Markers yes.

The workaround is to add a custom view as our marker upon the map component and place it at the right position.

[2017-07-07 09:15] moritzschaefer commented on #123
Could you elaborate on that please? How do get the x/y coordinates of the
markers given there latitude/longitude?

weswes <notifications@github.com> schrieb am Fr., 7. Juli 2017, 10:59:

[2017-07-07 10:43] neo125874 commented on #123
@weswes same as @moritzschaefer , what's the custom view for?  put inside the marker? or any other maps component?

[2017-07-07 11:05] egunsoma commented on #62
+ 1

[2017-07-07 11:53] weswes commented on #123
The idea is to put a custom view that you will use as your animated marker as sibling of the MapView component (in my case it's an Animation component from lottie lib but can be any other view)

[code]

Listen for onRegionChangeComplete and then update your custom component position with some Math:

[code]

The custom view will be moved after the map, but it's a correct solution when the user don'

[2017-07-07 12:17] lionel95200x opened #151 "Expo on my android crash after adding an animation"
Hello
I have just adding a simple animation to my project with the basic exemple
On my ios simulator all it's ok, the animation work
But when i build app on my android device (Galaxy S8) expo crashes instantly
I have type command : react-native link lottie-react-native

Do you have any solutions or suggestions ?

[2017-07-07 14:51] neo125874 commented on #123
@weswes thank you for your detail solution, maybe the owner could try to workaround like this, haha?

[2017-07-07 17:14] gpeal commented on #150
@SayEason I'm going to publish a new release soon with the latest lottie-android changes. You may want to post an issue on lottie-ios to add support for it though.

[2017-07-07 17:14] #150 closed

[2017-07-07 17:15] gpeal commented on #151
@lionel95200x Can you post the crash stack from logcat?

[2017-07-08 04:16] gpeal commented on #108
We will start tagging new releases. Sorry for any inconvenience!

[2017-07-08 04:16] #108 closed

[2017-07-10 06:15] thotegowda commented on #128
closing as my [PR](https://github.com/airbnb/lottie-react-native/pull/129) got merged

[2017-07-10 06:15] #128 closed

[2017-07-10 12:54] thotegowda commented on #147
This [PR](https://github.com/airbnb/lottie-react-native/pull/129) will fix it ?

[2017-07-12 09:34] jurajkrivda opened #152 "You may need an appropriate loader to handle this file type"
I tried to start the packager but I got this error:

Unexpected token (47:2)
You may need an appropriate loader to handle this file type.

[code]

React Native 0.46.1
Lottie React Native 1.1.1

[2017-07-13 21:59] gpeal commented on #150
@SayEason 1.2.0 has been published. Check it out!

[2017-07-13 21:59] gpeal commented on #128
1.2.0 has been published. Check it out!

[2017-07-15 13:51] Minishlink commented on #118
With the new 1.2.0 version, it doesn't crash anymore, but the animation doesn't seem to be running :/

I got warnings but no errors:

[2017-07-15 19:23] lappalj4 opened #153 "java.lang.IllegalStateException: You must set an images folder..."
Hey,

thanks for the library - it looks very promising!

I'm seeing a crash on android, where the animation will begin to play but after a second or two the app will crash with the following logcat output:

[code]

Question is, is this crash happening because the animation is using unsupported layer effects as the first line indicates, or is it something else? Will have to wait until our designer

[2017-07-16 11:23] bboyair commented on #145
+1 - the same problem

[2017-07-16 16:38] programmer-1 commented on #115
use latest gradle and gradle plugin version and change your library version in build.gradl to + instead specific version.

[2017-07-17 02:14] vokhuyet commented on #115
thank you very much. i can fix this by change provided into complied

[2017-07-17 05:53] reggie3 commented on #123
I wrote a blog post detailing two additional ways to work around this problem on Android.  One involves using setTimeout to swap images.  The other uses requestAnimationFrame to update a state value that is used to set the size of a FontAwesome icon.  The post is here: [https://medium.com/@reginald.johnson/providing-location-aware-user-feedback-9ad50ca8c7ff](https://medium.com/@reginald.johnson/pr

[2017-07-17 10:13] lappalj4 commented on #153
Update: tried with an animation that does not have any layer effects, and the same error is still occurring - minus the warning on the first line. Can anyone help with this?

[2017-07-17 10:32] lappalj4 commented on #80
@alexcanessa @ahanriat Unfortunately the owners of this project don't seem very active in answering issues, but there seems to now be a prop for defining an `imageAssetsFolder`, added in the [docs](https://github.com/airbnb/lottie-react-native/blob/master/docs/api.md).

I haven't yet been able to figure out how to use it, might have to add the animations to the android assets folder and define ima

[2017-07-18 11:49] lappalj4 commented on #153
Apparently it is an issue with using external images in the animation. Has anyone found out how to use external images and where to put them on android/ios?

[2017-07-19 15:40] dioxide commented on #153
same problem

[2017-07-19 23:06] Bhullnatik opened #154 "[Android] Crash on opening animation"
Hey,

I have a crash when using this library when opening a specific animation. I'm not sure where it is coming from, and I haven't tried with `lottie-android` but it seems to come from a class used only in `lottie-react-native`.

Find attached the related json. If I can provide any more informations let me know.

React-native version: 0.46.2
lottie-react-native version: 1.2.0

[miam.json.zip](htt

[2017-07-20 11:18] Shagamii commented on #153
I think could be linked to https://github.com/airbnb/lottie-android/issues/235

In my case, I resolved to adjust "assets"  value in json to be output empty.

[2017-07-21 09:33] Adamnator92 opened #156 "UNMET PEER DEPENDENCY react@16.0.0-alpha.12"
[code]

npm WARN lottie-react-native@1.2.0 requires a peer of react@>=15.3.1 but none was installed.

i having a trouble during npm install `lottie-react-native`

### My Environment

| software         | version
| ---------------- | -------
| react | "16.0.0-alpha.12",
| react-native     |  "0.46.1"

[2017-07-21 15:02] sibelius commented on #103
can we close this?

[2017-07-21 15:10] Kowaio commented on #103
Yep I guess. Thanks!

[2017-07-22 19:50] felix-zg opened #157 "Archiving build fails"
Hey,

I have an issue when I try to build the project with fastlane.
I get this error:
[code]
Did anyone found a solution for this issue?
I'm not using CocoaPods.

Thanks!

[2017-07-24 03:14] Creemli commented on #143
I don't think wrapping it two useless View is correctly. We would better find the reason in Native.

[2017-07-24 19:47] sibelius opened #158 "how to uninstall/remove this package?"
I think it is worth to add a section on README.me of how to remove this package

[2017-07-25 13:39] fentonbutcher opened #159 "Text not rendering unless outlined"
We are using the latest Lottie (2.1.0) and the latest version 1.2.0 for React native (which apparently supports text). We exported from After Effects with google fonts enabled in bodymovin. The animation along with the text shows up when we test it online using bodymovin.js (example here: https://codepen.io/torrens/project/editor/DVvqmo/ ), but doesn't show up when we build it into the app.

A not

[2017-07-26 04:07] thainx commented on #156
I have a similar problem. but with react@16.0.0-alpha.13 and react-native@0.46.4
Even worse, everytime I start the app, it shows like this
![image](https://user-images.githubusercontent.com/17704842/28604078-6b80e18a-71f2-11e7-9a27-7191ca1548c9.png)

It seems that the package still use React.PropTypes (which was removed in react 16)

[2017-07-26 08:55] mitch104 commented on #154
I had a similar issue which has been temporarily resolved by downgrading the lottie-react-native version 1.1.1. I am on react-native version 0.46.4.

[2017-07-27 02:07] Obooman opened #160 "Extra empty elements while making multiple elements"
Code:

[code]

![group](https://user-images.githubusercontent.com/9863282/28651197-f25ab120-72b2-11e7-8a10-b0df88bfcc49.png)

When I add more than one element each of theme will be followed by an empty element which share same size with Animation object.

[2017-07-27 08:08] jrnk commented on #156
See https://github.com/airbnb/lottie-react-native/pull/161

[2017-07-27 14:11] yotavm opened #163 "only one animation not work"
hey,
i have a working project with lottie all my animation work except
one (when i check it on lottiefiles its work)
this is the json ->
`{"v":"4.9.0","fr":40,"ip":0,"op":120,"w":36,"h":36,"nm":"check","ddd":0,"assets":[],"layers":[{"ddd":0,"ind":1,"ty":1,"nm":"Blue Solid 2","sr":1,"ks":{"o":{"a":0,"k":100},"r":{"a":0,"k":0},"p":{"a":0,"k":[-109.5,-187.75,0]},"a":{"a":0,"k":[187.5,333.5,0]},"s":{"

[2017-07-27 16:30] kelset commented on #124
I'm having this issue while trying to install latest `1.2.0` in `react-native: 0.46.4`.
As far as I can tell, there are actually two issues here:

1. When linking `react-native link lottie-ios`, the script doesn't escape properly what it needs to paste into `project.pbxproj`, so it "paste" in the config:
[code]

instead of:

[code]

Similarly, it also "paste":

[code]

instead of:

[code]

2.  And

[2017-07-27 16:57] kelset commented on #145
Same issue over here, on iOS the image doesn't get loaded.
Any update anyone?

In another issue, #80 (of which imho this is a duplicate) they were considering the [`imageAssetFolder` prop](https://github.com/airbnb/lottie-react-native/commit/6cafa8b1f44f973ca2aec173792c1b3ccfb407a6) as possible solution but it's Android only :(

[2017-07-27 16:57] kelset commented on #80
I agree with @alexcanessa, #145 is a duplicate - I can't get the image to get loaded on iOS, any update anyone? :/

[2017-07-27 21:03] mloisotto opened #164 "App closes when it tries to render Animation with assets"
I've configured the assets folder with the latest version and as PR #105 says. But the app closes and **without showing any kind of error.**
This is my code:
[code]
Android Asset folder config:
![image](https://user-images.githubusercontent.com/15253362/28691763-5961ad04-731e-11e7-9099-79f13710c3ca.png)

JSON file attached.

[load-loop.json.zip](https://github.com/airbnb/lottie-react-native/files/

[2017-07-28 09:38] kelset commented on #145
Quick update: in iOS to have the animation pick up the image you need to - basically - open XCode, right click on the Resources folder, "Add file to [Project]" and add the image (and then rebuild the project) - so my suggestion is that you give that image a "recognizable name" when you import it;)

[2017-07-28 13:55] kelset commented on #164
by looking at the json file, it looks like you renamed the file but not the reference inside it:
` "nm": "*loading*",` should be `  "nm": "load-loop",` I think

[2017-07-28 14:27] kelset commented on #61
Agreed, atm imperative is a bit "behind", would love an easy way to loop.

[2017-07-31 15:10] mloisotto commented on #164
Hey @kelset ! Thanks for the answer. I'd tried changing its name but it still happens.

[2017-07-31 15:45] kelset commented on #164
Ok - so, during my last few experimentations what I can surely tell you is that it crashes because something is missing.

My next guess is that you cannot have a font in the .json you give to lottie, or you need to "link it" as you do for other assets: in your .json you have:

[code]

[2017-08-01 06:23] aamctustwo opened #165 "Contributing Guidelines: Setup Environment Error"
### Description

In the [Setting up your environment](https://github.com/airbnb/lottie-react-native/blob/695f75090d649408e38aae89b8c6570b97370c46/CONTRIBUTING.md#setting-up-your-environment) section of the `CONTRIBUTING.md` file, the last step is to:

[code]

This errors out with `npm ERR! missing script: dev`.

### System

- `macOS Version`: `10.12.6`
- `node -v`: `v6.11.0`
- `npm -v`: `5.3.0`

[2017-08-01 21:59] RyanMitchellWilson opened #166 "Android build error when using React-Native 0.47"
I just upgraded to React-Native 0.47.0 and when I try to run `react-native run-android`, the build fails with:
[code]

Using:
react-native: 0.47.0
react: 16.0.0-alpha.12
lottie-react-native: 1.2.0

[2017-08-02 18:07] bduyng commented on #166
+1

[2017-08-03 10:52] aamctustwo commented on #166
See discussion: https://github.com/facebook/react-native/issues/15232

[2017-08-03 15:17] RyanMitchellWilson commented on #166
@aamctustwo they have already closed that issue stating that there is no way to make this change without breaking something so the work to fix it needs to be done in the libraries themselves.

[2017-08-03 17:52] lukecwilliams commented on #166
Fix is: in LottiePackage.java, remove createJSModules function entirely, or just remove @Override parameter.

This works locally (as long as the node_modules package isn't reinstalled) until a fix is issued from each library.

[2017-08-04 09:07] radko93 commented on #166
Submitted a PR #169.

[2017-08-08 20:05] tolgaduzenli commented on #112
Make sure you set correctly your ANDROID_HOME. I had same issue, even my all licenses were accepted, still i was getting same error. After that I checked android home path and changed it one folder up. Now it is ok.
it was like this;
export ANDROID_HOME=/usr/local/opt/android/tools
But it suppose to be like this;
export ANDROID_HOME=/usr/local/opt/android
Totally it was my mistake.

[2017-08-09 13:08] ShariqMush commented on #158
I'm having same issue, when I unlink and uninstall the package, it does not let me run the app for android and gives me this error:
[code]

[2017-08-11 06:58] #80 closed

[2017-08-11 06:58] #145 closed

[2017-08-11 07:01] gpeal commented on #166
This will be fixed in the next release

[2017-08-11 07:01] #166 closed

[2017-08-11 07:02] gpeal commented on #137
This should be fixed by #129

[2017-08-11 07:02] #137 closed

[2017-08-11 07:03] gpeal commented on #154
@mitch104 can you attach an animation that repros this?

[2017-08-11 07:57] Jiansion commented on #153
I encountered same problem.
Because loading image must be set image folder.
such as  In Assets create image folder save image

`
        LottieAnimationView lottieAnimationView = (LottieAnimationView) findViewById(R.id.animation_view);
        lottieAnimationView.setImageAssetsFolder("images/");
        lottieAnimationView.setAnimation("splash_animation.json");
        lottieAnimationView.loop(fal

[2017-08-11 08:33] lappalj4 commented on #153
@Shagamii thanks, will have a look if that resolves the issue

[2017-08-12 13:15] lappalj4 commented on #158
Yes please, I would also like to uninstall this to try and fix my build errors with a fresh install. I am not very familiar with the ios build system so I don't really know all of the steps required for a full uninstall

[2017-08-14 07:20] hfossli commented on #62
Reading this it seems you are supposed to add them to xcode / android studio https://github.com/airbnb/lottie-react-native/blob/83632ef4d7fd57f1a6ad50d965cb889070ee02ab/docs/api.md

[2017-08-14 17:08] AWrightIV opened #172 "lottie-ios dependency is significantly out-of-date"
[This line in the package.json](https://github.com/airbnb/lottie-react-native/blob/e8234404c489a65aa0ee97ab456a673ecde781ed/package.json#L46) puts lottie-ios significantly behind the latest version. I'd like to write a pull request to improve lottie-ios for react native, but am blocked by this lagging dependency. When can we expect this will be brought up to speed?

[2017-08-15 22:43] AWrightIV commented on #172
`lottie-ios` on npm just published version 2.0.5. `lottie-react-native` is still pointing at 1.5.2. Is there any incompatibility with versions 2.0.0 and higher blocking this from being updated?

[2017-08-16 10:07] sospedra commented on #166
@gpeal when is next release? :)

[2017-08-16 13:16] sospedra commented on #139
?

[2017-08-16 21:40] gpeal commented on #172
@AWrightIV I'll push an update today :)

[2017-08-16 21:41] gpeal commented on #146
@ShariqMush What's in your Android build.gradle file?

[2017-08-16 21:42] gpeal commented on #158
@sibelius @lappalj4 What do you mean by uninstall/remove?

[2017-08-16 21:44] gpeal commented on #156
@Adamnator92 @thainx @jrnk This will be resolved in 2.2.0 which I'll release later today :)

[2017-08-16 21:44] #156 closed

[2017-08-16 22:10] lappalj4 commented on #158
@gpeal I can only speak for myself, but coming from the Android side of things I often find myself stuck in Xcode for hours on end trying to debug a failing build with no idea of what the actual f*** the error logs are trying to tell me... I personally have a hard time figuring out if some of the errors are caused by this library or not, or some misconfiguration I made in Xcode, or even another li

[2017-08-16 23:08] gpeal commented on #166
@sospedra @bduyng @RyanMitchellWilson  2.2.0 has been published!

[2017-08-16 23:09] gpeal commented on #158
@lappalj4 iOS builds can be a bit of a pain ;) However, there is nothing special about this library so that would be out of scope for Lottie.

[2017-08-16 23:09] #158 closed

[2017-08-17 15:06] sospedra opened #173 "Partial progress loop [question]"
Is possible to just loop a part of the animation?

Imagine you have the typical button which has:

1. Initial value
2. Loading value
3. Done value

![submit_button](https://user-images.githubusercontent.com/3116899/29419077-6db4864a-836e-11e7-95c9-95ec466ffa9a.gif)

The loading is variable to some promise/callback/whatever. Meaning that the duration time is undefined.

Is there any way to keep the

[2017-08-18 00:27] jp928 opened #175 "Build issue on IOS"
react-native: 0.47.1
platform: ios
node: 8.4.0
lottie-react-native version is 2.2.0

installation method:

react-native link lottie-ios
react-native link lottie-react-native

issue:
cannot build even after following the entire installation instructions.

<img width="894" alt="screen shot 2017-08-18 at 10 25 49 am" src="https://user-images.githubusercontent.com/659612/29439250-de6692fc-83ff-11e7-9c

[2017-08-18 00:32] jp928 commented on #175
BTW, lottie-react-native version is 2.2.0

[2017-08-18 18:04] fermuch commented on #154
@gpeal [this](https://gist.github.com/fermuch/0be552bdd35567af13deb3f7971ada9d) animation causes a crash. It even crashes the Lottie Preview app.

[2017-08-19 22:57] JulianKingman opened #176 "Gradients along path supported? How?"
OK, so I've identified several ways to create a gradient along a path, like this:
![gradientalongpath](https://user-images.githubusercontent.com/1566400/29490587-d593ef8e-850e-11e7-9621-a411c4ca9236.gif)

Unfortunately, none of them appear to work with Lottie. Here's what I've tried:
[x] Use Gradient Stroke from illustrator
[x] Use several Gradient Strokes from After Effects that connect (strokes

[2017-08-19 23:36] JulianKingman commented on #176
One other thing I tried:
[x] Create 5 separate shapes (not strokes) with gradient fills, hack together the gradients, Trim Paths, and Trim Path offset angles until it looks acceptable. It displays in Lottie HTML, but not in react native (looks like below, one segment, no gradient fill)
<img width="317" alt="screen shot 2017-08-19 at 7 35 48 pm" src="https://user-images.githubusercontent.com/156640

[2017-08-20 12:04] D1no commented on #176
You should create animations along lotties supported properties. Bodymovin, which is simply an export format that come with a renderer for web, is *not* strict === lottie for native devices.

See here:
https://github.com/airbnb/lottie-ios#supported-after-effects-features

In the case above I'd just create a circle with the gradient and rotate a mask on top of it. Done.

[2017-08-20 17:53] JulianKingman commented on #176
Thanks for your reply! In reading over the features, it looks like the last option I tried should work, shouldn't it? Trim paths and trim path offsets appear to be allowed on shape layers...

For the circle gradient with mask, that would work if I could create an angled gradient, but it looks like only linear gradients are supported. Any ideas on how to get around that?

Thanks again for your help

[2017-08-21 08:02] D1no commented on #176
You can actually use radial gradients. Place it at one corner and rotate it accordingly. But the simplest thing is probably creating the gradient as you like as a image png and place it on the circle. People often forget that you can dynamically manage images in lottie and that it's a very performant solution to get baseline effects onto the stage (gpu bit mapping has been optimized on mobile for

[2017-08-21 10:59] createS0ftware commented on #153
@lappalj4 Did you solve this issue ? Thanks

[2017-08-21 12:02] lappalj4 commented on #153
@createS0ftware nope, sorry. Ended up having our designer export animations that have no external assets. I'm not familiar with bodymovin, but apparently you can force it to export .json files that have no external dependencies if you tweak the configuration.

[2017-08-21 16:10] dejakob opened #177 "'Lottie/Lottie.h' file not found on release builds"
Dear,

I added lottie-react-native into my project, linked everything and added the framework in build phases. It works well when debugging the project, but when I try to create an archive, it crashes and says `'Lottie/Lottie.h' file not found` in LRNAnimationViewManager.

I'm using "lottie-react-native": "^2.2.0" according to package.json.
How do I fix this issue? This is what my build phases loo

[2017-08-21 16:13] D1no opened #178 "Play from Frame 10 to Frame 20"
I was wondering how to **run an animation from and to a particular frame** (i.e. 10 to 20) at regular speed, than stop. The iOS and Android lottie implementation seem to support this.

The use case is simple. We have an animation of a counter, counting up and we would simply like to stop the animation at "the target count". Thous having one instance of an animation that can handle all states (max

[2017-08-21 20:15] JulianKingman commented on #176
OK, so I've identified the problem. It turns out that Lottie in expo is currently pinned at v 1.2, which doesn't support gradients, so that kind of explains things! I opened an issue there (https://github.com/expo/expo/issues/528), and I'll close this one, as I'm confident one of these options will work.

I'm curious about what you said about radial gradients, is there a way to use them to get an

[2017-08-21 20:15] #176 closed

[2017-08-22 08:47] TrustTheBoy opened #179 "The part of https://www.lottiefiles.com cannot be displayed in Android"
Some can't be used in Android, like https://www.lottiefiles.com/305-loader-4, not shown in Android

There is no problem with IOS

[2017-08-22 09:12] zivchen commented on #179
another one
https://www.lottiefiles.com/117-progress-bar

[2017-08-22 09:15] TrustTheBoy commented on #179
@zivchen I need IOS to be in agreement with Android

[2017-08-22 09:18] zivchen commented on #179
@TrustTheBoy I meant another example of working in IOS and not android.
i found this one that works on both, https://www.lottiefiles.com/230-paginationpage-indicator

[2017-08-22 09:24] TrustTheBoy commented on #179
@zivchen The boss asked to use https://www.lottiefiles.com/305-loader-4, and I did not want to change it

[2017-08-22 09:29] TrustTheBoy commented on #179
@zivchen Because in the native, the use of normal, in the react native android, can not show, before I think I was not configured, the background only to find some show, some will not show

[2017-08-23 14:13] sospedra commented on #33
I happened to me again. And now I discovered that is becuase the sorting on `project.pbxproj`. `lottie-ios` has to be required before `lottie-react-native`. For all the artifacts.

And I guess the cause is related to link/unlink some deps.

[2017-08-23 22:39] JulianKingman opened #180 "Feature request: Dynamic re-coloring"
It looks like both the iOS and Android versions of Lottie support some sort of recoloring:
http://airbnb.io/lottie/android/colors.html
http://airbnb.io/lottie/ios/dynamic.html
It would be cool to see that on react native. I'm not sure if this is how it works, but it could possibly be as easy as making a helper tool that modifies the JSON source directly.

[2017-08-24 08:32] EyreGe opened #181 "No ViewManager defined for class LottieAnimationView on android"
my version:
"react-native": "^0.45.1",
"lottie-react-native": "^2.2.0",

I try :
react-native run-android
This might create a build failure.
cd android && ./gradlew clean

not fix

[2017-08-24 16:30] luyx2412 commented on #140
Same issue, animation do not trigger on IOS
`this.animation.play()` do not handle.
But i use
`this.state.progress.setValue(0)
        Animated.timing(this.state.progress, {
            toValue: 1,
            duration: 2000,
        }).start((o) => {
            if (o.finished) {
                this._runAnimation()
            }
   })`
it will run, i don't understand what wrong?

[2017-08-24 18:21] iDevo commented on #113
I had the same issue but `react-native upgrade` solved the issue for me

[2017-08-24 23:35] jp928 commented on #177
try

[code]

[2017-08-24 23:41] dejakob commented on #177
Yeah I did that, I followed all steps of the guide. I got the project working on the iOS simulator, but it gave an error when building an archive (to go to the app store).

[2017-08-25 04:14] jp928 commented on #177
From schema, did you uncheck parallalize build?
<img width="901" alt="screen shot 2017-08-25 at 2 13 50 pm" src="https://user-images.githubusercontent.com/659612/29699392-acc90a36-899f-11e7-98d6-acab7939424c.png">

[2017-08-25 04:37] jp928 commented on #177
@dejakob
I modified my header search path as below and it achieved fine.
<img width="798" alt="screen shot 2017-08-25 at 2 36 43 pm" src="https://user-images.githubusercontent.com/659612/29699823-eab5e460-89a2-11e7-8108-d8dbef66bcc3.png">

[2017-08-26 14:25] sospedra commented on #173
Any update on this?

[2017-08-26 14:26] sospedra commented on #139
Any update on this?

[2017-08-30 10:57] sospedra commented on #177
We found out that `lottie` doesn't play well with node 8
We tried with Boron (6.11.2) and it worked wonderful

Is it your case @dejakob ?

[2017-08-30 14:47] wandri opened #182 "File not rending properly on Android."
Hello!

I'm using Lottie-android by Expo XDE (react-native-lottie).

My AAE file:
[gear_problem_text.zip](https://github.com/airbnb/lottie-react-native/files/1264010/gear_problem_text.zip)

This is what I have with my bodymovin file  (the Gif recorder has some problem but all works)  :

![gear_demo](https://user-images.githubusercontent.com/15016833/29878406-bf0ae2bc-8da2-11e7-97c3-6e3edcc605a4.gi

[2017-08-30 17:11] joaqtor opened #183 "Problem in Android device"
When using the library, in Android I got the following error:

`undefined is not an object (evaluating '_reactNative.UIManager.LottieAnimationView.Commands')`

No problem in iOS.

I did run `react-native link lottie-react-native` successfully.

Any clue?

[2017-08-31 18:51] joaqtor commented on #39
This is happening to me now, with last version of Lottie, on line 99.

`UIManager.LottieAnimationView.Commands[name],` throws `Cannot read property 'Commands' of undefined`

[2017-09-01 09:53] cweise opened #184 "Cannot read property 'style' of undefined"
[code]

This leads to a warning: Failed prop type: Cannot read property 'style' of undefined...

Any ideas?

[2017-09-01 16:16] vdesdoigts commented on #184
It may help you https://github.com/airbnb/lottie-react-native/pull/134

[2017-09-04 16:41] jarrrgh commented on #175
Hmm hmm, seems like 'react-native unlink lottie-ios' solved this for me - not quite sure why. I used npm instead of pods, if that makes a difference.

[2017-09-05 04:21] coryarmbrecht opened #185 "Android merge paths are disabled"
Complex shapes, especially cutouts, which rely on merge paths are not working and show up blank. Log prints:`Animation contains merge paths but they are disabled.`

Created from [issue #101](https://github.com/airbnb/lottie-android/issues/101) in lottie-android.

[2017-09-05 16:05] alexlevy0 commented on #143
+1

[2017-09-05 18:37] micksabox commented on #175
I'm facing a similar issue. I tried ensuring `Header Search Paths` is point correctly to the header files. My `lottie-ios` version is `2.0.5`

[2017-09-05 19:36] jarrrgh commented on #175
I'm not sure what I actually did to fix it, but I think I did'react-native unlink lottie-ios' 'react-native link lottie-ios'

[2017-09-05 19:56] micksabox commented on #175
@jarrrgh Thanks, I ended up trying the same thing and it worked.

[2017-09-07 04:02] daywong1119 commented on #177
Go to `General > Embedded Binaries > add Lottie.framework`

[2017-09-07 04:08] daywong1119 opened #186 "Adnroid - LottieAnimationView cannot be cast to android.view.ViewGroup"
Hey,

I tried to build my android app with this repo, I got `com.airbnb.lottie.LottieAnimationView cannot be cast to android.view.ViewGroup`.

`lottie-react-native` is included in gradle file.

Does any one know how to fix this ?

[code]

[2017-09-07 20:22] sbehrends commented on #183
Having same issue here :(

[2017-09-08 06:01] cq920702 opened #187 "Reason: image not found"
When I run on IOS,I encountered this problem.   Library not loaded: @rpath/Lottie.framework/Lottie
  Referenced from: /var/containers/Bundle/Application/18C84068-8163-4862-8A80-8874DDABA14C/service.app/service
  Reason: image not found
I try several methods but does not work!How to solve this problem.Thanks

[2017-09-08 07:07] cq920702 commented on #187
Simulator is correct.Only on my virtual device meets this problem.
lottie-react-native:  2.2.0
"react": "16.0.0-alpha.6",
"react-native": "0.43.4",

[2017-09-08 07:33] #187 closed

[2017-09-08 07:36] cq920702 commented on #187
Solved. add copy files ,add Lottie.framework and change Destination to Frameworks.

[2017-09-11 07:30] edencakir commented on #175
@jp928 any updates?

[2017-09-11 10:54] alexlevy0 commented on #83
Same Issue

[2017-09-11 21:21] Monte9 commented on #179
@zivchen I am having the same issue. I am trying to use this animation: https://www.lottiefiles.com/596-pillow-animation

And it works fine on iOS, but it doesn't show up on Android. Any ideas on how to make sure an animation works for iOS and Android both?

[2017-09-12 06:46] zivchen commented on #179
@Monte9  Unfortunately you will have to test them, the bug is if you have decimal values it wont work so you can look at the json and see.

[2017-09-13 09:43] ErhanKaraca commented on #151
can anyone find a solution about this issue?

[2017-09-13 15:59] kyle-ssg opened #190 "[IOS v2.2.0] LOTAnimationTransitionController.m:37:11: 'LOTAnimationTransitionController' cannot use 'super' because it is a root class"
Got this updating from 1.2.0 to 2.2.0
<img src="https://image.prntscr.com/image/tlkFWL9OR9W7RLIsyckVGw.png"/>

[2017-09-14 02:11] gpeal commented on #151
@ErhanKaraca I can't fix this without a stack trace.

[2017-09-14 07:56] annabeast opened #191 "Lottie rendering of animation in json file not (fully) working, while HTML demo does"
We've used the bodymovin plugin to export both a json file and an HTML demo of an animation. The Lottie rendering does not fully work (i.e. some moving components missing: the minion-like shape that's supposed to move around, blink its eyes and move its mouth only moves around - but no eye blinking or mouth moving!), while the HTML demo works perfectly. Thanks for your help!

[2017-09-14 13:40] luisfuertes commented on #187
What destination changed to frameworks? I have the same error.

I have added to frameworks `lottie-ios` and add to "Linked Frameworks and Libraries": Lottie.framework for MAC OS and for iOS

And `react-native link lottie-react-native`.

But not works

[2017-09-14 22:24] michaeltnguyen commented on #183
Looks like `react-native link` isn't working correctly.

You need to register the `LottiePackage` with your application.

[code]

[2017-09-15 00:47] joshmadewell commented on #190
I'm seeing this too @kyle-ssg have you figured out any workarounds? @gpeal are ya'll able to reproduce this?

[2017-09-15 11:20] skovhus commented on #89
React native link seems to assume that `LIBRARY_SEARCH_PATHS` is a list.

So inside `project.pbxproj` change
`LIBRARY_SEARCH_PATHS = "$(BUILD...";`

to
`LIBRARY_SEARCH_PATHS = ("$(BUILD...");`

[2017-09-15 16:21] gregoireLem commented on #191
same issue here, the html demo works fine but I've got only the shape of my Lottie that is rendering on iOS & android

[2017-09-16 00:42] donedgardo commented on #151
[code]

[2017-09-18 13:57] madsleejensen commented on #190
solved it by deleting `[project-path]/ios/build` and running `react-native run-ios` again, it caches previous builds here (and thereby maybe a previous version of the library)

i could understand why doing a build from xcode worked fine, but run-ios didnt, apparently they store builds in different locations :)

[2017-09-20 07:57] gpeal commented on #147
@PARAGJYOTI which ones don't work?

[2017-09-20 12:52] VincentFTS opened #192 "Gradient not working on Android only."
My motion designer has created the attached AE project which uses gradients.
I integrated the bodymovin export in my react native project and the animation doesn’t work on Android whereas it does work on iOS.
I suppose the issue comes from the lottie-react-native library as the animation works in the Airbnb Lottie app on android.

[gradient.zip](https://github.com/airbnb/lottie-react-native/files/

[2017-09-20 20:26] j-wang commented on #190
I'm getting this problem with building from Xcode itself, so not solved for me with @madsleejensen's solution, unfortunately.

[2017-09-20 21:08] j-wang commented on #190
Also, I think this is a duplicate of #175

[2017-09-20 21:10] j-wang commented on #175
I tried @jarrrgh's solution, and unfortunately it did not work for me. I even tried clearing the cache, unlinking everything, relinking everything, cleaning the build, etc. No joy. :(

[2017-09-20 21:59] j-wang commented on #175
Ok, finally got it working for me by:

- Removing node_modules (`rm -rf node_modules && npm install`)
- Clearing the packager cache (`rm -fr $TMPDIR/react-*`)
- react-native unlink lottie-ios
- Cleaning from XCode
- Clean Build Folder from XCode (it appears where Clean is, just hold option)
- react-native link lottie-ios

[2017-09-20 22:03] micksabox commented on #175
This kept biting me so I looked into it further. Looks like there are [3 different ways](https://stackoverflow.com/questions/7439192/xcode-copy-headers-public-vs-private-vs-project) a header can be included into a project.

What I did was toggled the problematic files `LOTAnimationView.h` and `LOTAnimationTransitionController.h`

<img width="1393" alt="screen shot 2017-09-20 at 6 00 36 pm" src="ht

[2017-09-21 00:41] tangtai commented on #181
I had the same problem on android, i fixed it by rebuild the app using a USB cable instead of over Wifi, try that and also remember to change

android {
    compileSdkVersion 25 // <-- update this to 25
    // ...

according to the guide, hope it helps.

[2017-09-21 11:16] tutts commented on #175
If you have to [add Lottie as an embedded binary](https://github.com/airbnb/lottie-react-native#troubleshooting), I had to remove the embedded binary, clean and then add the binary back in again for it to build :)

![image](https://user-images.githubusercontent.com/7454558/30693274-b75c6880-9ec6-11e7-8a69-2abde4756930.png)

[2017-09-21 13:19] leesolway opened #194 "Unable to find file (Android)"
I have an issue with android.

**Error :-**
Error while updating property 'sourceName' of a view managed by: LottieAnimationView

null

Unable to find file loading.js

**Animation file location :-**
app/src/main/assets/loading.json

**Component :-**
[code]

**Versions :-**
"lottie-react-native": "2.2.0"
"react-native": "0.47.2"

[2017-09-21 14:31] fermuch commented on #154
As an update, this still happens with `lottie-react-native@2.2.0` and Lottie Preview App 2.2.1.

[2017-09-22 08:40] chenpengfei88 commented on #106
看不懂啊

[2017-09-22 18:40] micksabox commented on #175
I also experience when I `Edit Scheme` to a different build environment. My fix above only works if you sequence it like this:
- Toggle `Public` to `Project`
- Attempt build, expect failure
- Toggle back from `Project` to `Public`
- Attempt build, it works

[2017-09-22 19:03] j-wang commented on #175
It seems with all of these solutions that there's something with the build caching that causes the problem.

I don't expect to run into this again, given that I've now upgraded my project to 2.2.0 and any fresh git clone won't have these previous build caches... but I do wonder what it is that causes Lottie to specifically have this problem, vs. all the other packages I've upgraded.

I spent some

[2017-09-23 00:01] gpeal commented on #194
@leesolway I just tried this in the sample app that's in this repo and it worked so there may be something incorrect about your setup.

[2017-09-23 00:01] #194 closed

[2017-09-23 00:02] gpeal commented on #191
@annabeast @gregoireLem The Lottie render on web/iOS/and Android are all separate codebases so there may be slightly feature differences. We have a list of supported features [here](http://airbnb.io/lottie/after-effects/supported-features.html). Feel free to attach an animation if you can't figure it out.
Also, test it on Android and iOS and post it on each repo for render specific issues.

[2017-09-23 00:02] #191 closed

[2017-09-23 00:03] gpeal commented on #186
@daywong1119 Can you attach a sample project that repros this? Other people don't seem to have this issue.

[2017-09-23 00:05] gpeal commented on #184
@cweise I think this is fixed now

[2017-09-23 00:05] #184 closed

[2017-09-23 00:10] gpeal commented on #183
If the LottiePackage step doesn't fix this, you can reopen.

[2017-09-23 00:10] #183 closed

[2017-09-23 00:11] gpeal commented on #181
Feel free to reopen this if @tangtai's solution doesn't work

[2017-09-23 00:11] #181 closed

[2017-09-23 00:12] gpeal commented on #179
@TrustTheBoy @zivchen @Monte9 These all work with Lottie 2.2.5 on Android. I'm going to push a lottie-react-native release that uses that today

[2017-09-23 00:12] #179 closed

[2017-09-23 00:14] gpeal commented on #173
Duplicate of #178

[2017-09-23 00:14] #173 closed

[2017-09-23 00:15] #172 closed

[2017-09-23 00:15] gpeal commented on #172
new updating coming today

[2017-09-23 00:20] gpeal commented on #163
@yotavm Lottie doesn't support layer effects. You can achieve this using just a shape and a trim path though.

[2017-09-23 00:20] #163 closed

[2017-09-23 00:27] gpeal commented on #160
@Obooman I can't reproduce this. If you can attach a project that does, I'll take a look.

[2017-09-23 00:27] #160 closed

[2017-09-23 00:36] gpeal commented on #154
@Bhullnatik @mitch104 I just tried that animation on master and it works.

@fermuch Your crash is different. Can you post it on lottie-android? Also, try saving your AE project and re-exporting it.

[2017-09-23 00:36] #154 closed

[2017-09-23 00:37] gpeal commented on #186
@daywong1119 Also make sure you add the LottiePackage in getPackages in your ReactApplication
[code]

[2017-09-23 00:37] #186 closed

[2017-09-23 00:47] gpeal commented on #149
I'll push a new version with updated dependencies today.

[2017-09-23 00:47] #149 closed

[2017-09-23 00:48] gpeal commented on #148
@Herb-Sun This isn't a lottie specific issue. This is just a react issue.

[2017-09-23 00:48] #148 closed

[2017-09-23 00:49] gpeal commented on #152
@jurajkrivda Do you still get this on master with a fresh npm install?

[2017-09-23 00:49] #152 closed

[2017-09-23 01:02] #192 closed

[2017-09-23 01:04] gpeal commented on #141
@pfulop Can you file this individually on lottie-ios and lottie-android with the AEP attached as well?

[2017-09-23 01:04] #141 closed

[2017-09-23 01:07] gpeal commented on #140
@thanhtr This is working for me on master and I'll push a new update tonight. Please reopen this on lottie-ios if it's an iOS specific rendering issue.

[2017-09-23 01:07] #140 closed

[2017-09-23 16:34] PimDeWitte opened #195 "Initial yarn add lottie-react-native command broke due to Electron dependency"
When i run

``
yarn add lottie-react-native@2.2.0
``

The output contains the following warning:

``
warning electron@1.8.0: this beta version of electron has been removed due to a security vulnerability. To get the latest beta, run 'npm install electron@beta'
``

And then fails on:

``
Error: Failed to find Electron v1.8.0 for darwin-x64 at https://github.com/electron/electron/releases/download/v

[2017-09-23 16:37] PimDeWitte commented on #195
Running
``
npm i --save lottie-react-native@2.2.0
``

Works fine and lets you install it btw :-)

[2017-09-23 22:03] gpeal commented on #123
I'm going to close this unless you think this issue issue is specifically related to Lottie.

[2017-09-23 22:03] #123 closed

[2017-09-23 22:04] gpeal commented on #118
This should be fixed in the latest version.

[2017-09-23 22:04] #118 closed

[2017-09-23 22:04] gpeal commented on #117
Closing due to inactivity. Feel free to reopen if there is still an issue.

[2017-09-23 22:04] #117 closed

[2017-09-23 22:06] #115 closed

[2017-09-23 22:06] gpeal commented on #113
@Jpunt @iDevo Is this still an issue?

[2017-09-23 22:06] #103 closed

[2017-09-23 22:07] gpeal commented on #9
Thanks for the work on this guys! I'll close this issue.

[2017-09-23 22:07] #9 closed

[2017-09-23 22:08] #52 closed

[2017-09-23 22:08] gpeal commented on #58
@jjhesk Closing due to inactivity. Feel free to reopen if this is still an issue.

[2017-09-23 22:38] #58 closed

[2017-09-24 06:35] zolrath commented on #178
As a workaround until a proper API is introduced I've been doing something similar by setting my animated value driving progress to `desiredFrame/totalFrames` and ensuring I have a few frames in a row with the desired content.

[2017-09-24 09:58] D1no commented on #178
Yeah, however, floating point in JS is a dangerous thing. We normalized all animations to 1000 frames now to get around it. However, I hope RN-Lottie starts to catches up now some what to the progress of the native libraries :/

[2017-09-24 21:36] gpeal commented on #147
@PARAGJYOTI @yash2code  Can you file any rendering issues on lottie-android or lottie-ios?

[2017-09-24 21:36] #147 closed

[2017-09-25 06:42] koansang opened #196 "Failed react-native run-android"
Error message :
![image](https://user-images.githubusercontent.com/12390185/30795334-047c2c38-a208-11e7-8eee-f85cc85f9882.png)

Updated 2.2.0 to 2.2.7.

What's problem?

[2017-09-25 07:18] ajmalpkc commented on #196
1. Open the build.gradle file for your application.
2. Make sure that the repositories section includes a maven section with the "https://maven.google.com" endpoint. For example:
`allprojects {
    repositories {
        jcenter()
        maven {
            ...
            url "https://maven.google.com"
        }
    }
}`

[2017-09-25 07:51] koansang commented on #196
@ajmalpkc thanks~!!
But other issues have occurred.
![image](https://user-images.githubusercontent.com/12390185/30797590-88bb0d58-a211-11e7-8342-67194ba658a6.png)

[2017-09-25 13:53] kelset commented on #196
Having the same issue, had to rollback :/

[2017-09-25 19:35] Monte9 commented on #196
I saw this same issue. @ajmalpkc solution helped, but now I am seeing this error:
```node_modules/lottie-react-native/lib/android/build/intermediates/res/merged/release/values-v26/values-v26.xml:15:21-54: AAPT: No resource found that matches the given name: attr 'android:keyboardNavigationCluster'.```

` error: Error: No resource found that matches the given name: attr 'android:keyboardNavigationC

[2017-09-25 19:45] Monte9 commented on #179
@gpeal thanks for the update. Unfortunately, upgrading to `2.2.5` causes other issues which just fails to build the Android app.

This is the related issue: https://github.com/airbnb/lottie-react-native/issues/196 Can you please look into this and maybe suggest a workaround/solution? Thanks

[2017-09-25 19:56] Monte9 commented on #196
This commit seems to have caused the `json.toHashMap` error: https://github.com/airbnb/lottie-react-native/commit/9868a704d76869c1d96348d589ddc2d62168f768#diff-e8684bd1c488b49e4b2a3f075962c504

@gpeal is there some android version/dependency that we need to upgrade to for it to work?

[2017-09-26 03:00] XBLDev opened #197 "Do we have to change the generated JSON file for it to work?"
[Nike_Logo.zip](https://github.com/airbnb/lottie-react-native/files/1331654/Nike_Logo.zip)
I have some JSON files that were generated with bodymovin, and I'm testing on phone right now, nothing works, even just the simplest animations.

From what I see, there are some obvious differences between the JSON files I got and the ones in the example folder here: https://github.com/airbnb/lottie-react-na

[2017-09-26 07:35] Minishlink commented on #197
You can use my module https://github.com/bamlab/easy-lottie-react-native that fixes several things (including the JSON). It's a module and not a PR to this repo because it doesn't support JSON that is loaded from the native side. (but if you think it's worth doing, let me know :) )

[2017-09-26 08:31] kelset commented on #196
I don't have either of those errors, but it may be because I'm using version 26 for both the SDK & build tools - if you feel adventurous you can try using my version of the `android/build.gradle` file:

[code]

[2017-09-26 08:36] XBLDev commented on #197
Hi @Minishlink thanks for your reply! I'll try it once I have time, it looks like it can also help adjust the size of the animation as well?

[2017-09-26 09:15] Minishlink commented on #197
Yes, the size (and most importantly the aspect ratio) is set automatically from the info that is in the JSON.

[2017-09-26 09:56] XBLDev commented on #197
Hi @Minishlink I just tried your module with my JSON file and also another JSON file I downloaded: https://www.lottiefiles.com/733-settings, both of them have assets, and when the app loads there's just plain white like before. What do you think could be the problem? It works with the sample JSON files perfectly.

[2017-09-26 10:02] Minishlink commented on #197
I never use Lottiefiles with assets, but if you do, you have to put the assets on the native side, cf. https://github.com/airbnb/lottie-react-native/blob/master/docs/api.md#using-animations-with-assets

[2017-09-26 10:12] XBLDev commented on #197
Hi @Minishlink, The assets in my JSON file has no image URL, instead it's got something like "ADBE Vector Group", and other stuff that I don't really understand since i'm not an AE expert. Do you think maybe when the JSON file is generated the assets file that are needed are also generated? I think that's the case for image assets: when you generate JSON file for AE animation that requires an imag

[2017-09-26 12:16] Minishlink commented on #197
Yes the assets are exported alongside the json.

[2017-09-26 13:56] easybird commented on #61
Are you sure your issue isn't related to the Lottie (json) animation itself?
I had the same issue, but checking out my Lottie file in Lottie Preview showed the same problem. As other Lottie animations didn't have that issue, not in the Lottie Preview App and not in my App as well.
For example, this one has the issue: https://www.lottiefiles.com/737-wave
And this one doesn't: https://www.lottiefile

[2017-09-26 14:19] kelset commented on #175
Same issue here, a mix of @tutts & @j-wang solutions worked for me 👌

[2017-09-27 03:02] ducpt2 commented on #196
@kelset solution work for me.
Thanks.

[2017-09-27 05:26] XBLDev commented on #197
Update 27/09/2017: i've been trying all sorts of JSON animations from the lottiefiles website and also my own JSON animation which is in the attachment, nothing seems to be working, I thought it was about the size of the animation, but changing the size doesn't seem to be helping.

[2017-09-27 13:20] bdanis opened #198 "ios11 and xcode 9 have compilation errors"
getting ARC semantic issues in my xcode project ever since updating to 9.0 and ios11

LotAnimationController.m - no visible interface for 'LotAnimationView' declares the selector 'convertRect:to LayerNamed:'
Lines 73 and 84 of LotAnimationController.m

[2017-09-27 13:42] gpeal commented on #196
This is correct. The Android SDK was bumped from 25 to 26.

[2017-09-27 13:42] #196 closed

[2017-09-27 16:01] #198 closed

[2017-09-30 08:33] mrkentlng opened #199 "Property 'cacheKey' not found on object of type 'LOTComposition'"
i got issue like picture below here!
Please check :(
<img width="261" alt="screen shot 2017-09-30 at 3 32 55 pm" src="https://user-images.githubusercontent.com/12961488/31044183-a8deb6f2-a5f4-11e7-8ba5-d3476d10fba2.png">

[2017-09-30 12:54] CliveTeow commented on #164
I also facing the same issue.

[2017-10-01 14:06] eduardomoroni commented on #196
Hi Folks, Tried https://github.com/airbnb/lottie-react-native/issues/196#issuecomment-332126271 with no lucky.

[ android/app/build.gradle](https://github.com/CaronaBoard/caronaboard-native/pull/77/files#diff-dc46f9f5dfe204e394fb41395ccd03cf)
[code]

[android/build.gradle](https://github.com/CaronaBoard/caronaboard-native/pull/77/files#diff-7ae5a9093507568eabbf35c3b0665732)
[code]

I also updated

[2017-10-01 19:35] gpeal commented on #196
@eduardomoroni toHashMap was added in RN 0.46

[2017-10-01 19:35] gpeal commented on #196
@Monte9 toHashMap was added in RN 0.46 so you'll need to be on at least 0.46.

[2017-10-02 03:10] simonso-nzme commented on #148
@Herb-Sun Try doing the this.animation.play(); at **onShow** of the Modal

i.e. <Modal onShow={()=>{ this.animation.play(); }}>

[2017-10-02 03:15] Monte9 commented on #196
That might be it. I am still on RN 0.44. I will update to 0.46 and report back in a couple days.

[2017-10-02 04:36] devon commented on #199
[code]

It works for me.

[2017-10-02 09:52] eduardomoroni commented on #196
@gpeal @Monte9, upgrading to 0.46 solved the issue. Thanks so much @gpeal !

[2017-10-02 11:24] amir707 opened #200 "Example app animation didn't run on Android version 4.2.2 (API 17)"
Hi
Example app (https://github.com/airbnb/lottie-react-native/tree/master/example) didn't run on Android version 4.2.2 (API 17) (shows blank screen) but works for Lollipop (Andriod version 5), no error or warning observed in logcat.
On the other hand, Lottie app (see below link) works on Android version 4.2.2 (API 17), maybe it has used lottie-android instead of lottie-react-native (not sure).
htt

[2017-10-02 11:40] amir707 commented on #200
In lottie-react-native/blob/v2.2.7/lib/android/build.gradle , minSdkVersion is set to 16, but it seems animation didn't played even in API 17.

[2017-10-02 14:27] m-akopov commented on #153
Has anyone idea how fix this ? @lappalj4  I can't find out how to force bodymovin to export in one json file. And my animation doesn't load itself, white view :(

[2017-10-03 00:01] fossage commented on #198
@bdanis , what ended up being the solution to this?  I am hitting the same problem myself.

[2017-10-03 00:36] bdanis commented on #198
Many things actually but the main issue was that xcode creates a cache of your code in your user /library/developer/xcode/derivedData
I noticed when i was clicking on the error in xcode. The file path was not the same.
Try unlinking and removing the binary framework as well

From what i am reading, updating packages sometimes creates issues. There is a feature in RN that allows you to regenerate y

[2017-10-03 02:07] XBLDev commented on #197
Update 3/10/2017:

I found out what was the problem: if you look into the file I attached, there's a section in it that begins with "masksProperties", animations plays after deleting that entire section, don't know why.

Closing this issue for now.

[2017-10-03 02:07] #197 closed

[2017-10-03 05:25] tidusvn05 opened #201 "Error when enable Debug JS Remotely"
I have added lottie to my project.
It very good run normally.
but when i enable Debug JS Remotely, application can't open and have a error in logcat.

java.lang.NoSuchMethodError: No virtual method getOpenSourceSoftwareLicenseInfo(Landroid/content/Context;)Ljava/lang/String; in class Lcom/google/android/gms/common/GoogleApiAvailability; or its super classes (declaration of 'com.google.android.gms.

[2017-10-03 06:56] Minishlink commented on #197
Thanks for mentioning this! Masks may not be supported on android or ios.

[2017-10-03 16:32] ricms93 commented on #200
I am facing the same issue in Android 4.2.2 animations are not being showed. With lottie-react-native version < 2.2.7 animations worked in Android 4.2.2, is there any aditional step that I must configure to show the animations?

[2017-10-03 19:04] ricms93 commented on #200
Downgrading to 2.2.0 did the trick

[2017-10-03 19:09] agrosner commented on #21
[code]
This seems to work even better

[2017-10-04 09:19] MbF-Sathya commented on #182
https://stackoverflow.com/questions/46559504/error-on-bodymovin-animation-in-react-native

i am also facing the same issue like this. I am using create react native app and running through expo

[2017-10-04 09:51] z4o4z opened #202 "App crashing on Android after Garbage Collector"
Hi, everyone.
This library is very cool and we are trying to use it for our animations, but the app crashes after some animations.

We are using 2 instances of Lottie on one screen. We play the 'animation-1' in the first instance some time then stop it and run the 'animation-2' in the second instance. At the end 'animation-2' we are running 'animation-3' in the first instance.

We are repeating th

[2017-10-04 21:24] starchand opened #203 "Could not find com.android.support:appcompat-v7:26.1.0."
I'm trying to run React Native on android for first time in a while. I'm getting:

           Required by:
               QuickChinese:lottie-react-native:unspecified > com.airbnb.android:lottie:2.2.5

Any ideas how to fix this?

[2017-10-04 21:50] yotavm opened #204 "build failed after update"
i update my lottie to the last version
and after i link the new files
my build failed and i get
<img width="252" alt="screen shot 2017-10-05 at 0 47 45" src="https://user-images.githubusercontent.com/11390250/31201289-e151844a-a966-11e7-9d35-87a74f83d650.png">
[code]

[2017-10-05 08:41] MatthieuPeyrot commented on #203
+1

[2017-10-05 08:48] malikoum94 commented on #203
+1

[2017-10-05 13:47] spearmootz commented on #203
in the android gradle file you need to specify the following

    compileSdkVersion 26
    buildToolsVersion "26.0.1"

and then find this text "  compile "com.android.support:appcompat-v7"
and make sure it says
    compile "com.android.support:appcompat-v7:26.0.1"

[2017-10-05 13:55] MatthieuPeyrot commented on #203
I already have that on my build.gradle it does come from that.

[2017-10-05 14:09] spearmootz commented on #203
you are right, there is also something else.

your other build.gradle file add maven url 'https://maven.google' should look like this

[code]

[2017-10-05 14:36] MatthieuPeyrot commented on #203
i try that but now i have :

Execution failed for task ':app:transformClassesWithJarMergingForDebug'.

[2017-10-05 16:35] spearmootz commented on #141
what was the reason? im having this issue on ios

[2017-10-05 18:07] pfulop commented on #141
Never found out. Since it wasn't crucial to our app, more like an experiment, we never tried to figure it out or open issues on other lottie repositories.

[2017-10-05 19:01] gpeal commented on #141
@spearmootz Could be lots of things. Can you attach the animation?

[2017-10-05 19:03] spearmootz commented on #141
i think its related to lottie-ios not lottie-react-native

https://github.com/airbnb/lottie-ios/issues/439

[2017-10-05 19:13] Monte9 commented on #196
@kelset @gpeal thanks for your help! Upgraded to RN v0.46 & also used @kelset's suggestion of using `subprojects` and the animations now work on iOS & Android. 💯

[2017-10-06 10:30] mitch104 commented on #204
@yotavm I have raised this issue with `lottie-ios` as that is where I believe the issue originates.

[2017-10-06 11:12] sospedra opened #205 "Android assets size not relative to Animation component"
I notice that the aspect ratio and size are not the same between ios and Android. But nothing very extreme. Tho, today I tried an animation with assets and then the differences became strongly evident.

I tried quite a lot of things: apply styles to Animation, different exports from bodymovin, etc. But nothing seems to work. Honestly, right now I don't know what else could I try.

Here's a snapsho

[2017-10-06 13:09] kelset commented on #204
I had some issues too but relinking lottie fixed it

[2017-10-08 10:12] starchand commented on #203
Fixed by @spearmootz maven url comment.

[2017-10-08 10:12] #203 closed

[2017-10-11 13:04] mitch104 commented on #204
@kelset that seems to have worked, thanks!

[2017-10-11 13:41] spearmootz commented on #204
my build issue is a bit different, it builds when using xcode but not the react-native cli.

[code]

[2017-10-12 03:23] #185 closed

[2017-10-12 06:41] guopeng1994 opened #209 "android can not link lottie-react-native"
when i run "react-native link lottie-react-native",nothing happend,anyone knows what happend?

RN :0.47
lottie-react-native:2.2.7

[2017-10-12 11:13] ejkkan commented on #201
+1

  "dependencies": {
    "@mapbox/polyline": "0.2.0",
    "bugsnag-react-native": "2.3.2",
    "date-fns": "1.28.2",
    "lottie-react-native": "^2.2.7",
    "phone": "1.0.12",
    "react": "16.0.0-alpha.12",
    "react-native": "0.48.4",
    "react-native-actionsheet": "2.3.0",
    "react-native-appsflyer": "git://github.com/AppsFlyerSDK/react-native-appsflyer.git",
    "react-native-backgroun

[2017-10-12 16:35] VincentFTS opened #210 "No way to know when an animation is loaded"
When a quite big animation is loaded with the Animation component, there’s no way to know when the component is "ready" to play the animation.
As a result, I get a countdown animation which displays nothing for more than a half second, a flashing '3', then '2', then '1'…
We should at least be able to get the ready information through a callback for exemple.
Ideally a preloading system would be gre

[2017-10-12 20:28] tonyhb opened #211 "Changelog?"
There's been a major bump and several patches but the latest change in CHANGELOG is 1.0.6.  Can we keep this updated so it's easy to tell breaking changes when projects are updating dependencies?

[2017-10-13 21:18] jozan commented on #199
Do the above steps to relink and also clean your Xcode project and if necessary restart Xcode.

[2017-10-14 11:03] Leeds-eBooks commented on #204
I am seeing the same issue as @spearmootz. I don't fully understand what `run-ios` does differently to building with xcode, but this error comes as part of the following step:
[code]

It seems that building with xcode doesn't carry out this step, or not in the same way. Does anyone have any suggestions as to how I can proceed with this? Thanks!

[2017-10-17 09:18] kytwb commented on #204
@spearmootz @Leeds-eBooks double check you have Lottie.framework in Embedded Binaries.

[2017-10-17 09:58] Leeds-eBooks commented on #204
@kytwb Thanks, I do, I think it's configured correctly?

<img width="479" alt="screen shot 2017-10-17 at 10 57 56" src="https://user-images.githubusercontent.com/4380655/31658826-12168aae-b32a-11e7-9bf9-e3132c754565.png">

[2017-10-17 10:11] kelset commented on #204
Original issue still happens with RN 0.49 - seems related to XCode tbh, it happened to me again today when I updated XCode from 9.0.0 to 9.0.1.

[2017-10-17 21:39] bithavoc commented on #204
@kelset this happened to me again, after doing all the re-linking shit all I have to do is drop Lottie from embedded frameworks in my target:
<img width="949" alt="screen shot 2017-10-17 at 4 38 18 pm" src="https://user-images.githubusercontent.com/219289/31690881-ba1b4e9a-b359-11e7-9485-d562c02a1570.png">

[2017-10-18 03:31] sfratini opened #213 "Possible error in Get started docs"
I couldn't compile my project with the basic steps in the documentation.

I had to add this in my settings.gradle since the link command was not doing it:

[code]

and this in my build.gradle:

[code]

Notice that the first commented line is the one in the docs that to me was not working. Second one worked.

Just leaving it here in case there is something I am missing.
Thanks

[2017-10-18 08:55] sospedra commented on #205
😞

[2017-10-18 10:08] sospedra opened #214 "Android doesn't scale"
If we have an asset, say, with 1080x1920 dimensions. This will be the max size of the animation.
With ios we can scale using the style prop.

Shall we export from bodymovin ina different way?
Why isn't a `scale` prop for `lottie`. Becuase, for Android it not possible right now. And for ios is very easy to break the aspect ratio using `style`.

Hope someone answers this time 😞

[2017-10-18 15:59] ay5000 opened #215 "Lottie doesn't play with imperative API when in a Modal"
I have a lottie file that works great in a normal view, but when I try to add it to a Modal (https://github.com/maxs15/react-native-modalbox) it doesn't play at all. I just get a rendering of the first frame. How can I fix? I am using the imperative API.

[2017-10-18 16:02] ay5000 opened #216 "When using imperative API and loop, lottie flickers for a second between plays"
I am using the imperative API and passed in the "loop" prop for my lottie to play continuously. However as soon as it's done the view flickers very briefly (1/2 second) before it restarts.

Basically it will loop and keep playing but between each player a brief flicker. I have checked my lottie file and it loops just fine on other players.

Thanks.

[2017-10-19 14:40] sospedra opened #217 "Is this project still mantained?"
Nobody is answering questions, request, etc.
Just minor irrelevant changes are being pushed recently

Is anyone in charge of this project? 😞

[2017-10-19 17:46] dannycochran opened #218 "mounting an animation with a large JSON source causes UI stutter"
On Android (have not tested iOS), mounting an animation with a large JSON source (>200 KB) can cause the UI to stutter. For instance the following JSON which produces confetti:

https://gist.github.com/dannycochran/a3566ec8dc63ea6638fadfccc939c2e8

Mounting this will cause a noticeable UI stutter, e.g:

[code]

My current work around is to do something like this:

[code]

But this causes a conside

[2017-10-19 18:09] dinzo commented on #217
@sospedra we are beginning to wonder the exact same thing!

[2017-10-19 20:17] sfratini commented on #215
@ay5000 Please post your code. I had a similar issue and my problem was my reference to 'this' which was lost.

[2017-10-19 23:25] dannycochran commented on #218
I found a workaround which I think obviates the need to address this.

It's better to pass a string as the source attribute so that the JSON is loaded asynchronously from LottieAnimationViewManager:

[code]

And confetti.json should be in android/app/src/main/assets/confetti.json

[2017-10-19 23:25] #218 closed

[2017-10-20 05:20] ay5000 commented on #215
export default class LottieView extends React.Component {
      componentDidMount() {
        this.animation.play();
      console.log("LOTTIE VIEW MOUNTED")
    }

    render() {

    return (
      <View style={this.props.style}>
        <Animation
          ref={animation => { this.animation = animation; }}
          loop
          style={{
            width: '100%',
            height: '100%',

[2017-10-20 14:15] Leeds-eBooks commented on #204
@bithavoc Do you mean that removing Lottie from embedded frameworks fixes the issue for you? Doesn't that mean Lottie will no longer work?

[2017-10-20 15:21] sfratini commented on #215
Without looking at the Modal code, I would think that the modal is always loaded but hidden so basically the animation already played by the time you show the modal.
Try replacing loop with loop={true} or playing the animation right after you open the modal.

Note: I could never made loop worked, I always used a setInterval to keep the animation playing.

[2017-10-20 15:23] sfratini commented on #209
Just make it manually. Sometimes it happens.

[2017-10-20 15:39] Leeds-eBooks commented on #204
I just managed to fix this issue for my project (maybe temporarily ¯\_(ツ)_/¯ )

The key steps, to add to @kelset's solution above, are:

- after @kelset's step 2, remove all references to lottie from `Embedded Frameworks` and `Linked Frameworks and Libraries`
- after @kelset's step 4, delete `/Users/<your_username>/Library/Developer/Xcode/DerivedData/<your_app_name>-<random_string>`

[2017-10-20 15:43] bithavoc commented on #204
@Leeds-eBooks I should clarify that I'm using cocoapods so I remove it from Embedded Frameworks since the project already links with Pod_<target>.framework which already includes Lottie.

This is my cocoapod:
[code]

[2017-10-20 17:54] ay5000 commented on #215
@sfratini thanks for the tips. Can you show an example of how you're using setInterval? I think that may just be easier.

[2017-10-20 18:10] sfratini commented on #215
Sure. So these are snippets of my EmptyComponent that shows when a list is empty:

[code]

[2017-10-22 16:09] prscX commented on #199
Hi @jozan + @devon,

I have tried both the solutions but none of them is working. Please fine below my software stack:

- RN: 0.48.3
- lottie-react-native: 2.2.0
- xcode: 9.0

Its been 3 Hours now I am hanging around this issue, can you please help me to resolve this issue

[2017-10-23 05:22] jozan commented on #199
You can regenerate ios directory by deleting it and running `react-native upgrade`. Remember to back it up before hamd fe. habing it committed to git repo. I don't know anything else you could do.

[2017-10-23 21:27] odesey opened #219 "Compatible with wix native navigation?"
Will lottie work with wix native navigation (On Android specifically)?

I've been trying to get it working with no success. I recieve the folllowing error when I attempt to play an animation on Android (iOS works perfectly)

[code]

I've followed the instructions to the letter but still can't get this going on Android

Component looks like this:

[code]

Any help would be greatly appreciated.

Tha

[2017-10-24 03:15] yammt commented on #203
Hi @spearmootz
There are more errors.

.../node_modules/lottie-react-native/lib/android/src/main/java/com/airbnb/android/react/lottie/LottieAnimationViewManager.java
Error:(86, 46) error: cannot find symbol method toHashMap()

Error:Execution failed for task ':lottie-react-native:compileReleaseJavaWithJavac'.

[2017-10-24 18:58] gmac13 commented on #106
I'm still having this problem even when i wrap the animation in a view with the same height and width, here's what i have

` <View
          style={{
            alignItems: 'center',
            width: 60,
            height: 60,
            position: 'absolute'
          }}

          <Animation
            style={{

              width: 60,
              height: 60
            }}
            so

[2017-10-26 14:48] odesey commented on #219
Solved!
Notice the small but important difference:

`MainApplication.java`

CORRECT:

[code]

WRONG:

[code]

Sure hope this helps someone else.

[2017-10-26 14:48] #219 closed

[2017-10-27 13:25] iroshanAV commented on #217
typical issue with RN and it's packages

[2017-10-27 19:04] fossage commented on #177
Just to tack onto what @daywong1119 said, I actually already had Lottie.framework in my embedded binaries but I had just upgraded my version of Lottie, so I had to remove the existing version of Lottie.framework and then re-add it.

[2017-10-31 16:39] eyeCU113 commented on #199
This is one hell of a persistent error. How do we get more attention to the matter?!

[2017-11-01 09:33] anniewey commented on #203
@yammt make sure your project version is RN 0.46 or above as mentioned here -> https://github.com/airbnb/lottie-react-native/issues/196#issuecomment-333400864

[2017-11-02 19:56] felixaa commented on #177
Where is Lottie.framework located? Can't seem to find it. I installed with pods.

[2017-11-02 21:11] sonaye opened #220 "Changing animation colors dynamically"
Any plans to port https://github.com/airbnb/lottie-ios/issues/236 to React Native? This would significantly help when it comes to using animations that are already published on Lottie Files for example. The current approach (editing JSON) isn't that practical.

[2017-11-03 16:28] fossage commented on #177
@felixaa , I think you will want to initially install it using yarn, i.e:
`yarn add lottie-react-native@2.2.7`

Then in your podfile you can add the following:
[code]

[2017-11-06 17:37] oximer opened #221 "React Native min Version"
Where I can find the React Native minimum version for each Lottie Tag?

[2017-11-07 11:21] #220 closed

[2017-11-07 12:05] AmyNgithub opened #222 "LRNAnimationViewManager doesn't implement requiresMainQueueSetup"
When running my app I get the following warning:

`2017-11-07 12:22:12.736 [warn][tid:main][RCTModuleData.mm:69] Module LRNAnimationViewManager requires main queue setup since it overrides constantsToExport but doesn't implement requiresMainQueueSetup. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.`

I have un

[2017-11-08 06:15] MLescaudron commented on #83
Same problem Here
RN : 0.48.4
Lottie : 2.2.7

[2017-11-08 08:38] analcy commented on #184
@cweise I have encountered the same problem as yours，solve it now?

[2017-11-09 08:47] davedega opened #224 "Fatal Exception: java.lang.StackOverflowError at android.animation.PropertyValuesHolder$FloatPropertyValuesHolder.calculateValue(PropertyValuesHolder.java:929)"
Fatal Exception: java.lang.StackOverflowError
       at android.animation.PropertyValuesHolder$FloatPropertyValuesHolder.calculateValue(PropertyValuesHolder.java:929)
       at android.animation.ValueAnimator.animateValue(ValueAnimator.java:1246)
       at android.animation.ValueAnimator.animationFrame(ValueAnimator.java:1175)
       at android.animation.ValueAnimator.doAnimationFrame(ValueAnimato

[2017-11-09 08:48] #224 closed

[2017-11-10 08:58] RaphArbuz opened #225 "Mask animation does not work"
Hi there,

Lottie is great but it seems like mask animation does not work. Is there a way around that?

Many thanks.

[2017-11-10 10:11] Naoto-Ida commented on #222
I have a PR out #226 which will hopefully fix this.

[2017-11-11 13:06] whysetiawan opened #227 "cannot find symbol view.setAnimation(new JSONObject(json.toHashMap()));"
Hi guys,I have problems when i tried to build my Android Project using lottie.

[code]

I got this errors, i have tried to use **react native 0.50.1 version**, **0.49.3** and **0.48.1** but still got same error. I tried to change the error above with comment, but i got more error in **MainApplication.java** and **MainActivity.java**

**package.json**

	"name": "JASTIPAPP",
	"version": "0.0.1",
	"p

[2017-11-14 20:02] bdanis commented on #177
having tremendous issues with this. I have
• cleaned out my derivedData,
•  and node modules folder,
• reinstalled everything with NPM.
• opened xcode,
• embedded the framework (there are two in the list, and they are not always present)
• building succeeds randomly and archive files systematically,

what am I missing?

[2017-11-15 06:04] XBLDev opened #228 "Animations that use images don't work."
I'm currently using easy-lottie-react-native: https://www.npmjs.com/package/easy-lottie-react-native, and for some reason all the animations that use images don't work.

I put the "animations" folder in the "node_modules" and I put the "images" folder which contains all the images needed in the "animations" folder, and the JSON animation files are all in the "animations" folder.

Maybe I'm putting

[2017-11-15 14:16] Adamnator92 commented on #33
i having this error but later on i manage to solve it with
`watchman watch-del-all && react-native start --reset-cache`

[2017-11-15 18:50] dwmcc opened #229 "Display issue (red cloud) when exported from After Effects with Bodymovin"
I'm having a bit of trouble using a JSON file in react-native that was exported from AE using the Bodymovin plugin. I exported it successfully using default settings, and when loaded back in to the bodymovin preview, it displays correctly.

Next, I imported the data.json file and the associated Images to xcode in the same directory, and instantiated the animation object. Using a file such as soda_

[2017-11-16 08:19] adyscorpius commented on #83
True. Same issue, even after react-native link.

[2017-11-17 01:13] mattk90 commented on #82
To add to g3r4n's answer:
Go to your app project very at the top > Targets > [Your App Name] > Build Phases. Then under Target Dependencies there needs to be `Lottie_iOS (Lottie)` included.
Under Link Binary With Libraries there needs to be `libLottieReactNative.a` & `Lottie.framework`, included but remove the` LibLottie.a`

[2017-11-19 14:56] antonKalinin commented on #113
Still have this error in RN 0.50.3

[2017-11-19 18:33] starchand commented on #227
+1

[2017-11-19 18:39] starchand opened #230 "Error:(86, 46) error: cannot find symbol method toHashMap()"
I took a whole 2 weeks off developing my RN project, and in typical RN fashion everything has broken on my return...

Building in android is giving me:
view.setAnimation(new JSONObject(json.toHashMap()));

I'm running RN 0.48.

Any ideas?

[2017-11-20 03:59] ftao123 commented on #203
Maven  Configuration：
allprojects {
    repositories {
        mavenLocal()
        mavenCentral()
        maven{
            url 'https://maven.google.com'
        }
        maven {
            // All of React Native (JS, Obj-C sources, Android binaries) is installed from npm
            url "$rootDir/../node_modules/react-native/android"
        }
    }
}

[2017-11-20 04:11] gpeal commented on #217
@sospedra @dinzo @iroshanAV. Yes, this is still being maintained. I'm sorry that most of my effort has been in moving the Android lib forward but I will try and be more responsive to issues here.

[2017-11-20 04:11] #217 closed

[2017-11-20 04:15] gpeal commented on #230
@starchand Are you sure you're on RN 0.48? That method was added in 0.46
https://github.com/facebook/react-native/commit/fe229f810475e90f7438c1b4b611b37953937782

[2017-11-20 04:19] gpeal commented on #229
@dwmcc Why are there images in your lottie animation? Is that expected?

[2017-11-20 04:25] gpeal commented on #209
I don't think this issue is Lottie specific. Feel free to reopen if you think it is.

[2017-11-20 04:25] #209 closed

[2017-11-20 04:51] gpeal commented on #202
@z4o4z Can you attach your animation? This has nothing to do with the GC btw.

[2017-11-20 05:04] gpeal commented on #182
@wandri Can you file this on lottie-android or lottie-ios?

[2017-11-20 05:04] #182 closed

[2017-11-20 05:06] gpeal commented on #195
@PimDeWitte Lottie has no electron dependencies. This must be coming from another package.

[2017-11-20 05:06] #195 closed

[2017-11-20 05:08] gpeal commented on #201
@tidusvn05 Can you upgrade your Google Play Service API library in the Android app?

[2017-11-20 05:08] gpeal commented on #225
@RaphArbuz Can you post this on lottie-android or lottie-ios?

[2017-11-20 05:08] #225 closed

[2017-11-20 09:24] sospedra commented on #217
@gpeal good to know

[2017-11-20 14:24] sospedra commented on #199
Every upgrade breaks with this error. And honestly dunno how to fix it. I don't even know what's wrong 😞

[2017-11-20 20:14] starchand commented on #230
Below fixed the issue.

[code]

[2017-11-20 20:14] #230 closed

[2017-11-21 01:04] mjsisley commented on #21
Thoughts on allowing loop to take a number as an option?

For cases where you want the animation to loop some amount of times less than infinity.

[2017-11-21 01:05] mjsisley opened #231 "Allow loop prop to take a number"
Thoughts on allowing the loop prop to take a number as an option (instead of only boolean)?

For cases where you want the animation to loop some amount of times less than infinity.

[2017-11-21 01:41] gpeal commented on #215
@ay5000 My guess is that this isn't Lottie specific. If you think there is something wrong with Lottie, you can reopen this

[2017-11-21 07:51] #215 closed

[2017-11-21 07:52] #221 closed

[2017-11-21 07:53] gpeal commented on #222
Fixed by #226

[2017-11-21 07:53] #222 closed

[2017-11-21 07:55] gpeal commented on #211
Future releases will come with a changelog 😄

[2017-11-21 07:55] #211 closed

[2017-11-21 07:56] gpeal commented on #214
@sospedra Would https://github.com/airbnb/lottie-react-native/commit/4c1bff110b735dbf16bef145d41fdb6274221490 solve your problem?

[2017-11-21 07:56] gpeal commented on #94
@AWrightIV You can also set the speed to a negative value.

[2017-11-21 07:56] #94 closed

[2017-11-21 07:57] gpeal commented on #1
Closing this because Lottie Android intentionally have networking built in because every app has a unique networking stack and I don't want to add any transitive deps to lottie.

[2017-11-21 07:57] #1 closed

[2017-11-21 07:58] gpeal commented on #126
Closing this because it's pretty old now. Feel free to reopen if it's still an issue.

[2017-11-21 07:58] #126 closed

[2017-11-21 07:58] gpeal commented on #114
Closing this because it's probably not relevant with the latest version. Feel free to reopen if it is.

[2017-11-21 07:58] #114 closed

[2017-11-21 08:02] gpeal commented on #159
@fentonbutcher Can you file an issue on lottie-android or lottie-ios for rendering issues?

[2017-11-21 08:02] #159 closed

[2017-11-21 08:03] gpeal commented on #146
Closing this because it's stale. Feel free to reopen if it's still a issue.

[2017-11-21 08:03] #146 closed

[2017-11-21 08:04] #165 closed

[2017-11-21 08:05] gpeal commented on #175
Closing since there seem to be some working solutions here.

[2017-11-21 08:05] #175 closed

[2017-11-21 08:05] gpeal commented on #227
@whysetiawan @starchand Can you attach a sample project that repros this? It shouldn't happen if you are on 0.46+

[2017-11-21 08:06] gpeal commented on #229
@dwmcc Can you also file the issue on lottie-android and or lottie-ios if it's a rendering issue?

[2017-11-21 08:06] #229 closed

[2017-11-21 17:52] gpeal commented on #227
Fixed by https://github.com/airbnb/lottie-react-native/commit/0064c3b55c92d84e8ccd5d710916ab9a64850d91

[2017-11-21 17:52] #227 closed

[2017-11-21 18:46] gpeal commented on #201
@tidusvn05 I actually don't think this should happen with the latest version of lottie-react-native and the play services library. Feel free to reopen if it's still an issue.

[2017-11-21 18:46] #201 closed

[2017-11-21 18:48] gpeal commented on #210
@VincentFTS I think https://github.com/airbnb/lottie-react-native/commit/0064c3b55c92d84e8ccd5d710916ab9a64850d91 will fix your problem.

[2017-11-21 18:48] #210 closed

[2017-11-21 18:49] gpeal commented on #205
Try https://github.com/airbnb/lottie-react-native/commit/4c1bff110b735dbf16bef145d41fdb6274221490 with resizeMode="contain"

[2017-11-21 18:49] #205 closed

[2017-11-21 18:49] gpeal commented on #205
I'll push an update soon

[2017-11-21 19:04] gpeal commented on #151
@donedgardo Your animations does require images. It may not be intentional though. If you imported layers from Illustrator, make sure to convert them to shape layers.

[2017-11-21 19:04] #151 closed

[2017-11-21 19:59] #139 closed

[2017-11-21 21:20] gpeal commented on #216
@ay5000 I can't repro this. It may be helped by https://github.com/airbnb/lottie-react-native/commit/0064c3b55c92d84e8ccd5d710916ab9a64850d91. If you can create a repro project and reopen if it's still an issue, that would be great.

[2017-11-21 21:20] #216 closed

[2017-11-21 21:22] gpeal commented on #133
@ranjithnori Can you attach a sample project that repros this? I can't reproduce this.
There have also been many lottie updates since this that have improved performance quite a bit.

[2017-11-22 17:21] alexlevy0 commented on #199
react-native unlink lottie-ios
react-native unlink lottie-react-native
clean the build
clean the build folder
close XCode
remove node modules
reinstall node modules
relink the 2 lotties

[2017-11-23 08:46] sospedra commented on #199
I still don't know what's wrong but I identify the origin of the problem (at least in my case): Moving too much between branches.

And one solution that, so far, worked every time:

[code]

[2017-11-23 13:26] matthieupinte commented on #21
@agrosner is working but need to add a check (plz don’t ask me why ^^) :
[code]

[2017-11-23 14:40] sospedra opened #232 "Next version?"
Has been two months since the last npm published version.
Multiple PRs have been merged.

When do you plan the next one?
Can this pushes be related to PR merges?

[2017-11-23 15:54] kiddikidd opened #233 "lottie ios 2.1.3 -> 2.1.4"
I'm having issues with ios related to this issue: https://github.com/airbnb/lottie-ios/pull/468 fixed in 2.1.4. Any plans to upgrade? Thanks.

[2017-11-24 04:26] wilson100 commented on #153
Just set up this prop specific to Android:
  `imageAssetsFolder: string,`

Read about it in Lottie docs for RN:
http://airbnb.io/lottie/react-native/props.html

[2017-11-24 08:58] RobPando commented on #204
still happens in rn@0.50 and lottie-react-native@2.2.7

[2017-11-24 19:59] gpeal commented on #232
This weekend. I'm wrapping up a few updates :)

[2017-11-24 19:59] #232 closed

[2017-11-24 20:20] #233 closed

[2017-11-24 20:20] gpeal commented on #202
@z4o4z If this is still an issue with the latest version, can you open this issue on lottie-android?

[2017-11-24 20:20] #202 closed

[2017-11-24 20:26] gpeal commented on #213
@sfratini Thanks. I will update airbnb.io/lottie to reflect this.

[2017-11-24 20:26] #213 closed

[2017-11-24 20:29] gpeal commented on #204
It seems like there are a few issues here that are likely related to react-native link/xcode/some combination of the two. If there are actionable items for lottie-react-native, please open a PR or a new issue to track it.

[2017-11-24 20:29] #204 closed

[2017-11-24 20:51] #178 closed

[2017-11-24 20:55] #136 closed

[2017-11-24 21:00] gpeal commented on #107
@iggyfisk I just tried this on master and it seems to be working as expected. I'm going to push a new release today. If it's still an issue, feel free to reopen.

[2017-11-24 21:00] #107 closed

[2017-11-24 21:00] #2 closed

[2017-11-24 21:01] gpeal commented on #61
@note89 @watadarkstar @henrikra
I'm unable to reproduce this on master. I'm going to push a new release this afternoon. Feel to reopen if this is still an issue.

[2017-11-24 21:01] #61 closed

[2017-11-24 21:02] gpeal commented on #122
This should be fixed in the latest release! Feel free to reopen if it's still an issue.

[2017-11-24 21:02] #122 closed

[2017-11-24 21:03] gpeal commented on #131
@motiazu Playing an animation while it is off screen is problematic for performance and resource reasons. I suggest figuring out a way to set the initial progress or implement some other workaround that doesn't rely on the animation animating while off screen.